<!--[if lte IE 8]><link href="/public/stylesheets/application-ie8.css" rel="stylesheet" type="text/css" /><![endif]-->
<!--[if gt IE 8]><!-->
<link href="/public/stylesheets/application.css" media="all" rel="stylesheet" type="text/css" />
<!--<![endif]-->

{% for stylesheetUrl in extensionConfig.stylesheets %}
<link href="{{ stylesheetUrl }}" rel="stylesheet" type="text/css" />
{% endfor %}

<div class="app-masthead">
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="app-masthead__title govuk-heading-xl govuk-!-margin-bottom-3">
        {{ serviceName }}  
        </h1>
        <h3 class="app-masthead__subtitle govuk-heading-l">Prototype</h3>
        <p class="govuk-body">Formerly called the Making Recall Decisions service

        </p>
      </div>
      <div class="govuk-grid-column-one-third">
      </div>
    </div>
  </div>
</div>
