{% extends "layout.html" %}

{% block pageTitle %}{{ title }}{% endblock %}

{% block beforeContent %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/input/macro.njk" import govukInput %}

{{ govukBackLink({
  text: "Back",
  href: "/error"
}) }}
{% endblock %}

{% block content %}

  
    <main class="govuk-main-wrapper " id="main-content" role="main">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <div class="govuk-panel govuk-panel--confirmation">
            <h1 class="govuk-panel__title">
              Decision not to recall
            </h1>
            <div class="govuk-panel__body">
              Duncann Cardours<br>CRN X451234
            </div>
          </div>
          
          <h2 class="govuk-heading-m">What happens next</h2>
          <p class="govuk-body">
            You must tell the probation practitioner your decision.
          </p>
          <p class="govuk-body">
            Your decision has been recorded as a contact in NDelius called ‘Management oversight - recall’.
          </p>
          <p class="govuk-body">
            <a href="/case-v4/overview?v=3" class="govuk-link">Return to overview</a>
          </p>
      </div>
    </div>
 
    </main>
  </div>
     
{% endblock %}