{% extends "layout.html" %}

{% block pageTitle %}{{ title }}{% endblock %}

{% block beforeContent %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/input/macro.njk" import govukInput %}

{{ govukBackLink({
  text: "Back",
  href: "/case-v4/overview?v=3"
}) }}
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">Share profile for Duncann Cardours</h1>

            <div class="govuk-form-group">
                <label class="govuk-label govuk-label--m" for="email">
                  Email
                </label>
                <div class="govuk-hint">Only HMPPS staff email addresses are allowed, for example joan.smith@justice.gov.uk</div>
               
                <input class="govuk-input" id="email" name="email" type="text">
              </div>
        
              <div class="govuk-form-group">
                <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--m" for="more-detail">
                  Write a message (optional)
                  </label>
                </h1>
                <div id="more-detail-hint" class="govuk-hint">
                  The email will start with a link to this profile. Your message will go after the link.
                </div>
                <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="5" aria-describedby="more-detail-hint"></textarea>
              </div>

              <form action="shareConfirm" method="post" novalidate>
                <div class="govuk-button-group">
                    <button class="govuk-button" data-module="govuk-button">
                      Continue
                    </button>
                </div>
              </form>

        </div>
    </div>
{% endblock %}
