{% extends "layout.html" %}
{% set title = 'Personal details' %}
{% block pageTitle %}{{ title }}{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}

  <h1 class="govuk-heading-xl">
   Search for a person on probation
  </h1>




{%- from "moj/components/search/macro.njk" import mojSearch -%}

{{ mojSearch({
  action: '/search-results',
  method: 'post',
  input: {
    id: 'search',
    name: 'search'
  },
  label: {
    text: 'Search',
    classes: 'govuk-!-font-weight-bold'
  },
  hint: {
    text: 'Search for a person on probation using their name, date of birth, offender manager or crime reference number (CRN).'
  },
  button: {
    text: 'Search'
  }
}) }}

{% endblock %}
