{% extends "layout.html" %}
{% set title = 'Contact Log' %}
{% block pageTitle %}{{ title }}{% endblock %}

{% block beforeContent %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{{ govukBackLink({
  text: "Back",
  href: "../search-results"
}) }}
{% endblock %}
{% block content %}

{% include "case/_case-service-user-banner.html" %}
{% set currentNavSection = 'behavioural' %}
{% include "case/_case-nav.html" %}
<h2 class="govuk-heading-m">Contact log</h2>
<div class="govuk-width-container">
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds">
{%- from "moj/components/search/macro.njk" import mojSearch -%}

{{ mojSearch({
  action: '/case/behavioural-drugs',
  method: 'post',
  input: {
    id: 'search',
    name: 'search',
    placeholder: 'asd'
  },
  label: {
    text: 'Search nDelius contact log',
    classes: 'govuk-!-font-weight-bold'
  },
  button: {
    text: 'Search'
  }
}) }}
</div>
<div class="govuk-grid-column-one-third"></div>

</div>
<hr class="govuk-section-break govuk-section-break--m govuk-section-break">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third">
        {% from "govuk/components/date-input/macro.njk" import govukDateInput %}

{{ govukDateInput({
  id: "passport-issued",
  namePrefix: "passport-issued",
  fieldset: {
    legend: {
      text: "Date range ",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--m"
    }
  }
}) }}
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}

{{ govukDateInput({
  id: "passport-issued",
  namePrefix: "passport-issued",
  fieldset: {
    legend: {
      text: "to"
    }
  }
}) }}
        {{ govukCheckboxes({
          idPrefix: "content-type",
          name: "content-type",
          classes: "govuk-checkboxes--small",
          fieldset: {
            legend: {
              text: "Tags",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "drugs",
              text: "Drugs",
              href: 'behavioural-drugs'
            },
            {
              value: "aggresion",
              text: "Tested negative"
            },
            {
              value: "image",
              text: "Cocaine"
            },
            {
              value: "slide",
              text: "Theft"
            },
            {
              value: "text",
              text: "Mental health"
            },
            {
              value: "text",
              text: "Financial"
            },
            {
              value: "text",
              text: "Travel"
            }
            ,
            {
              value: "text",
              text: "Alcohol"
            }
          ]
        }) }}

      </div>
      <div class="govuk-grid-column-two-thirds">
<p class="govuk-body" style="font-weight:bold;">17 of 82 Results</p>
        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

        {% from "govuk/components/select/macro.njk" import govukSelect %}

{{ govukSelect({
  id: "sort",
  name: "sort",
  label: {
    text: "Sort by"
  },
  items: [
    {
      value: "published",
      text: "Relevance"
    },
    {
      value: "updated",
      text: "Recently updated",
      selected: true
    }
  ]
}) }}
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">

            <div class="card">
              <div class="card-wrapper">
                <span class="govuk-caption-m">23/09/2021</span>
            <h3 class='govuk-heading-m'><a href="#">AP - Drug Test</a></h3>
            <p class="govuk-body govuk-!-font-size-16">Attended - Complied - Complied with drug test, tested negative</p>
            <div class="govuk-grid-row">
              <div class="govuk-grid-column-one-half">
                <a href="#" class="govuk-link add-to-lesson">View in Delius</a>
                </div>
                <div class="govuk-grid-column-one-half">
{{ govukTag({
  text: "Substance"
}) }}{{ govukTag({
  text: "Drugs"
}) }}{{ govukTag({
  text: "Tested negative"
}) }}
            </div>
            </div>
            </div>
            </div>
            <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

                        <div class="card">
                          <div class="card-wrapper">
                            <span class="govuk-caption-m">21/09/2021</span>
                        <h3 class='govuk-heading-m'><a href="#">AP - Drug Test</a></h3>
                        <p class="govuk-body govuk-!-font-size-16">Attended - Complied - Complied with drug test, tested negative</p>
                        <div class="govuk-grid-row">
                          <div class="govuk-grid-column-one-half">
                            <a href="#" class="govuk-link add-to-lesson">View in Delius</a>
                            </div>
                            <div class="govuk-grid-column-one-half">
                              {{ govukTag({
                                text: "Substance"
                              }) }}{{ govukTag({
                                text: "Drugs"
                              }) }}{{ govukTag({
                                text: "Tested negative"
                              }) }}
                        </div>
                        </div>
                        </div>
                        </div>
                        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

                                    <div class="card">
                                      <div class="card-wrapper">
                                        <span class="govuk-caption-m">19/09/2021</span>
                                    <h3 class='govuk-heading-m'><a href="#">AP - Drug Test</a></h3>
                                    <p class="govuk-body govuk-!-font-size-16">Test - Not Clean / Not Acceptable / Unsuitable - Positive for crack cocaine</p>
                                    <div class="govuk-grid-row">
                                      <div class="govuk-grid-column-one-half">
                                        <a href="#" class="govuk-link add-to-lesson">View in Delius</a>
                                        </div>
                                        <div class="govuk-grid-column-one-half">
                        {{ govukTag({
                          text: "Substance"
                        }) }}{{ govukTag({
                          text: "Drugs"
                        }) }}{{ govukTag({
                          text: "Cocaine"
                        }) }}
                                    </div>
                                    </div>
                                    </div>
                                    </div>
                                    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

                                                <div class="card">
                                                  <div class="card-wrapper">
                                                    <span class="govuk-caption-m">19/09/2021</span>
                                                <h3 class='govuk-heading-m'><a href="#">Arrest Incident</a></h3>
                                                <p class="govuk-body govuk-!-font-size-16">Met Police offce Annie Taylor called to say that Charles had been arrested for petty theft - he stole a sandwich from highbury and islington waitrose but was stopped by security. Not drug tested yet but heard that he looked 'wired'</p>
                                                <div class="govuk-grid-row">
                                                  <div class="govuk-grid-column-one-half">
                                                    <a href="#" class="govuk-link add-to-lesson">View in Delius</a>
                                                    </div>
                                                    <div class="govuk-grid-column-one-half">
                                    {{ govukTag({
                                      text: "Police"
                                    }) }}{{ govukTag({
                                      text: "Arrest"
                                    }) }}{{ govukTag({
                                      text: "Theft"
                                    }) }}{{ govukTag({
                                      text: "Mental Health"
                                    }) }}
                                                </div>
                                                </div>
                                                </div>
                                                </div>
                                                <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

                                                <div class="card">
                                                  <div class="card-wrapper">
                                                    <span class="govuk-caption-m">14/09/2021</span>
                                                <h3 class='govuk-heading-m'><a href="#">AP - Alcohol Test</a></h3>
                                                <p class="govuk-body govuk-!-font-size-16">Test - Clean / Acceptable / Suitable - 0UG/100ML</p>
                                                <div class="govuk-grid-row">
                                                  <div class="govuk-grid-column-one-half">
                                                    <a href="#" class="govuk-link add-to-lesson">View in Delius</a>
                                                    </div>
                                                    <div class="govuk-grid-column-one-half">
                                    {{ govukTag({
                                      text: "Substance"
                                    }) }}{{ govukTag({
                                      text: "Alcohol"
                                    }) }}{{ govukTag({
                                      text: "Tested Negative"
                                    }) }}
                                                </div>
                                                </div>
                                                </div>
                                                </div>
                                                <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

                                                <div class="card">
                                                  <div class="card-wrapper">
                                                    <span class="govuk-caption-m">14/09/2021</span>
                                                <h3 class='govuk-heading-m'><a href="#">Other App Prem contact</a></h3>
                                                <p class="govuk-body govuk-!-font-size-16">Resident claimed for reimbursement of his bus fare because he said we gave him the wrong appointment date and he travelled to his medical practitioner a day early</p>
                                                <div class="govuk-grid-row">
                                                  <div class="govuk-grid-column-one-half">
                                                    <a href="#" class="govuk-link add-to-lesson">View in Delius</a>
                                                    </div>
                                                    <div class="govuk-grid-column-one-half">
                                    {{ govukTag({
                                      text: "Travel"
                                    }) }}{{ govukTag({
                                      text: "Financial"
                                    }) }}
                                                </div>
                                                </div>
                                                </div>
                                                </div>
                                                <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

                                                <div class="card">
                                                  <div class="card-wrapper">
                                                    <span class="govuk-caption-m">13/09/2021</span>
                                                <h3 class='govuk-heading-m'><a href="#">Planned Office Visit (NS)</a></h3>
                                                <p class="govuk-body govuk-!-font-size-16">Spoke to Charles in his regular visit. Said that he was feeling worried because he was suffering withdrawal - 'I can't stop thinking about crack cocaine'. Said that he was worried that he needed drugs but didn't have the money to buy them.... 'what if I have to mug someone'? I explained to Charles that he had to abide by his licence or he would be recalled</p>
                                                <div class="govuk-grid-row">
                                                  <div class="govuk-grid-column-one-half">
                                                    <a href="#" class="govuk-link add-to-lesson">View in Delius</a>
                                                    </div>
                                                    <div class="govuk-grid-column-one-half">
                                    {{ govukTag({
                                      text: "Cocaine"
                                    }) }}{{ govukTag({
                                      text: "Mental Health"
                                    }) }}{{ govukTag({
                                      text: "Financial Situation"
                                    }) }}
                                    {{ govukTag({
                                      text: "Theft"
                                    }) }}
                                                </div>
                                                </div>
                                                </div>
                                                </div>
                                                <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">


                                                <div class="card">
                                                  <div class="card-wrapper">
                                                    <span class="govuk-caption-m">12/09/2021</span>
                                                <h3 class='govuk-heading-m'><a href="#">AP - Alcohol Test</a></h3>
                                                <p class="govuk-body govuk-!-font-size-16">Test - Admitted Use - Reading was 21ug/100ml - admitted having a beer </p>
                                                <div class="govuk-grid-row">
                                                  <div class="govuk-grid-column-one-half">
                                                    <a href="#" class="govuk-link add-to-lesson">View in Delius</a>
                                                    </div>
                                                    <div class="govuk-grid-column-one-half">
                                    {{ govukTag({
                                      text: "Substance"
                                    }) }}{{ govukTag({
                                      text: "Alcohol"
                                    }) }}{{ govukTag({
                                      text: "Beer"
                                    }) }}
                                                </div>
                                                </div>
                                                </div>
                                                </div>
                                                <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">


                                                <div class="card">
                                                  <div class="card-wrapper">
                                                    <span class="govuk-caption-m">11/09/2021</span>
                                                <h3 class='govuk-heading-m'><a href="#">Movements</a></h3>
                                                <p class="govuk-body govuk-!-font-size-16">Resident came back near curfew time and seemed anxious. He said that he walked back because he had missed his connecting tram from the city centre. He said he couldn't afford to buy a new ticket</p>
                                                <div class="govuk-grid-row">
                                                  <div class="govuk-grid-column-one-half">
                                                    <a href="#" class="govuk-link add-to-lesson">View in Delius</a>
                                                    </div>
                                                    <div class="govuk-grid-column-one-half">
                                    {{ govukTag({
                                      text: "Travel"
                                    }) }}{{ govukTag({
                                      text: "Financial"
                                    }) }}
                                                </div>
                                                </div>
                                                </div>
                                                </div>
                                                <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">


                                                <div class="card">
                                                  <div class="card-wrapper">
                                                    <span class="govuk-caption-m">10/09/2021</span>
                                                <h3 class='govuk-heading-m'><a href="#">Management Oversight</a></h3>
                                                <p class="govuk-body govuk-!-font-size-16">Notes</p>
                                                <ul class="govuk-list govuk-list--bullet">
<li>- Spoke to OM today that Charles attended today but was agitated, panicked that he had reported an incident while in prison and would be considered a grass and would be targeted. Was afraid of staying in AP and said that he would have to leave it.</li>
<li>OM warned him that he could not do this and had to return to the AP, but promised that he would help Charles with treatment for paranoia.</li>
</ul>
                                                {{ govukDetails({
  summaryText: "Read more",
  html: '<p class="govuk-body govuk-!-font-size-16">Actions</p>
  <ul class="govuk-list govuk-list--bullet">
  <li>OM to warn AP staff that Charles has expressed desire to leave AP. Need to give 10 mins max beyond curfew.</li>
  <li>OM to help set up appointment with mental health support to help with paranoia."</li>
  </ul>
  <p class="govuk-body govuk-!-font-size-16">"Notes</p>
  <ul class="govuk-list govuk-list--bullet">
  <li>Spoke to OM today that Charles attended today but was agitated, panicked that he had reported an incident while in prison and would be considered a grass and would be targeted. Was afraid of staying in AP and said that he would have to leave it.</li>
  <li>OM warned him that he could not do this and had to return to the AP, but promised that he would help Charles with treatment for paranoia.</li>
  </ul>
  <p class="govuk-body govuk-!-font-size-16">Actions</p>
  <ul class="govuk-list govuk-list--bullet">
  <li>OM to warn AP staff that Charles has expressed desire to leave AP. Need to give 10 mins max beyond curfew.</li>
  <li>OM to help set up appointment with mental health support to help with paranoia."</li>
  </ul>'
}) }}
                                                <div class="govuk-grid-row">
                                                  <div class="govuk-grid-column-one-half">
                                                    <a href="#" class="govuk-link add-to-lesson">View in Delius</a>
                                                    </div>
                                                    <div class="govuk-grid-column-one-half">

                                                </div>
                                                </div>
                                                </div>
                                                </div>
                                                <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

                                                <div class="card">
                                                  <div class="card-wrapper">
                                                    <span class="govuk-caption-m">06/09/2021</span>
                                                <h3 class='govuk-heading-m'><a href="#">AP - Hostel Curfew</a></h3>
                                                <p class="govuk-body govuk-!-font-size-16">Appointment Kept</p>
                                                <div class="govuk-grid-row">
                                                  <div class="govuk-grid-column-one-half">
                                                    <a href="#" class="govuk-link add-to-lesson">View in Delius</a>
                                                    </div>
                                                    <div class="govuk-grid-column-one-half">

                                                </div>
                                                </div>
                                                </div>
                                                </div>
                                                <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

                                                <div class="card">
                                                  <div class="card-wrapper">
                                                    <span class="govuk-caption-m">05/09/2021</span>
                                                <h3 class='govuk-heading-m'><a href="#">AP - Hostel Curfew</a></h3>
                                                <p class="govuk-body govuk-!-font-size-16">Appointment Kept</p>
                                                <div class="govuk-grid-row">
                                                  <div class="govuk-grid-column-one-half">
                                                    <a href="#" class="govuk-link add-to-lesson">View in Delius</a>
                                                    </div>
                                                    <div class="govuk-grid-column-one-half">

                                                </div>
                                                </div>
                                                </div>
                                                </div>
                                                <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
                                                <div class="card">
                                                  <div class="card-wrapper">
                                                    <span class="govuk-caption-m">04/09/2021</span>
                                                <h3 class='govuk-heading-m'><a href="#">Information - from 3rd party</a></h3>
                                                <p class="govuk-body govuk-!-font-size-16">Received call from police reporting having picked up SU found asleep and drunk on footpath outside Highbury & Islington station. They let SU go after checking he could return safely and was not a risk to public.</p>
                                                <div class="govuk-grid-row">
                                                  <div class="govuk-grid-column-one-half">
                                                    <a href="#" class="govuk-link add-to-lesson">View in Delius</a>
                                                    </div>
                                                    <div class="govuk-grid-column-one-half">
                                              {{ govukTag({
                                              text: "Police"
                                              }) }}{{ govukTag({
                                              text: "Substance"
                                              }) }}
                                                </div>
                                                </div>
                                                </div>
                                                </div>
                                                <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
                                                <div class="card">
                                                  <div class="card-wrapper">
                                                    <span class="govuk-caption-m">04/09/2021</span>
                                                <h3 class='govuk-heading-m'><a href="#">AP - Hostel Curfew</a></h3>
                                                <p class="govuk-body govuk-!-font-size-16">Appointment Kept</p>
                                                <div class="govuk-grid-row">
                                                  <div class="govuk-grid-column-one-half">
                                                    <a href="#" class="govuk-link add-to-lesson">View in Delius</a>
                                                    </div>
                                                    <div class="govuk-grid-column-one-half">

                                                </div>
                                                </div>
                                                </div>
                                                </div>
                                                <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
                                                <div class="card">
                                                  <div class="card-wrapper">
                                                    <span class="govuk-caption-m">03/09/2021</span>
                                                <h3 class='govuk-heading-m'><a href="#">AP - Hostel Curfew</a></h3>
                                                <p class="govuk-body govuk-!-font-size-16">Appointment Kept</p>
                                                <div class="govuk-grid-row">
                                                  <div class="govuk-grid-column-one-half">
                                                    <a href="#" class="govuk-link add-to-lesson">View in Delius</a>
                                                    </div>
                                                    <div class="govuk-grid-column-one-half">

                                                </div>
                                                </div>
                                                </div>
                                                </div>
                                                <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
                                                <div class="card">
                                                  <div class="card-wrapper">
                                                    <span class="govuk-caption-m">02/09/2021</span>
                                                <h3 class='govuk-heading-m'><a href="#">Information - from external agency</a></h3>
                                                <p class="govuk-body govuk-!-font-size-16">Received call from police enquiring for up to date address for SU as part of their record maintenance</p>
                                                <div class="govuk-grid-row">
                                                  <div class="govuk-grid-column-one-half">
                                                    <a href="#" class="govuk-link add-to-lesson">View in Delius</a>
                                                    </div>
                                                    <div class="govuk-grid-column-one-half">
                                        {{ govukTag({
                                        text: "Police"
                                        }) }}
                                                </div>
                                                </div>
                                                </div>
                                                </div>
                                                <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

                                        </div>

          </div>
          <div class="pagination">
              <a href="#" style="display:block;padding:20px 0 20px;">
                <svg style="overflow:hidden;" class="" xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13">
<path d="m10.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
</svg>
<span class="govuk-!-font-size-24" style="font-weight:bold;line-height: 1.25;
margin-left: 10px;">Next</span><br />
<span style="display: inline-block;
margin-top: .1em;
margin-left: 25px;
text-decoration: underline;
text-decoration-thickness: max(1px, .0625rem);
text-underline-offset: .1em;">2 of 13</span>

              </a>

          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>

{% endblock %}
