{% extends "layout.html" %}
{% set title = 'Licence history' %}
{% block pageTitle %}{{ title }}{% endblock %}

{% block beforeContent %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{{ govukBackLink({
  text: "Back",
  href: "../search-results"
}) }}
{% endblock %}

{% block content %}

{% include "case/_case-service-user-banner.html" %}
{% set currentNavSection = 'licence-history' %}
{% include "case/_case-nav.html" %}




<h2 class="govuk-heading-m">Licence summary</h2>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters" style="background:#efefef;border-left:6px solid #1d70b8;padding: 10px">
        <p>Download the licence letter <a href="#">29817EDWIN.pdf</a></p>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third">
        <span class="govuk-body govuk-!-font-size-24" style="font-weight:bold;color:#055DA4">254 days</span>
        <p style="color:#505a5f;">time left on licence</p>
      </div>
      <div class="govuk-grid-column-one-third">
        <span class="govuk-body govuk-!-font-size-24" style="font-weight:bold;color:#055DA4">35 days</span>
        <p style="color:#505a5f;">time spent in the community</p>
      </div>
      <div class="govuk-grid-column-one-third">
        <span class="govuk-body govuk-!-font-size-24" style="font-weight:bold;color:#055DA4">3 years</span>
        <p style="color:#505a5f;">sentence length</p>
      </div>
    </div>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <p class="govuk-body">
          <span class="govuk-body" style="color:#505a5f">Sentence type:</span> ORA adult custody<br />
          <span class="govuk-body" style="color:#505a5f;">Index offence:</span> Robbery (other than armed robbery)
        </p>
      </div>
    </div>
  </div>
</div>

<h2 class="govuk-heading-m">Licence history</h2>

<div class="moj-timeline">

  <div class="moj-timeline__item">

    <div class="moj-timeline__header">
      <h2 class="moj-timeline__title">Starts custodial sentence</h2>
    </div>

    <p class="moj-timeline__date">
      <time datetime="2019-06-06T09:12:00.000Z">1 August 2020</time>
    </p>

  </div>
  <div class="moj-timeline__item">

    <div class="moj-timeline__header">
      <h2 class="moj-timeline__title">Released on licence</h2>

    </div>

    <p class="moj-timeline__date">
      <time datetime="2019-06-14T14:01:00.000Z">1 September 2021</time>
    </p>

    <div class="moj-timeline__description">
      <p>Release to community</p>
    </div>
  <ul class="moj-timeline__documents">
    <li class="moj-timeline__document-item">
      <a class="moj-timeline__document-link" href="#">Licence letter 298127EDWIN</a>
    </li>
  </ul>
</div>
<div class="moj-timeline__item">

  <div class="moj-timeline__header">
    <h2 class="moj-timeline__title">Concerns raised during management oversight meeting</h2>

    <p class="moj-timeline__byline">by Charles Hill</p>
    <div class="moj-timeline__description">
      <a href="behavioural-drugs">View test results in Contact log</a>
    </div>

  </div>

  <p class="moj-timeline__date">
    <time datetime="2019-06-14T14:01:00.000Z">10 September 2021</time>
  </p>

  <div class="moj-timeline__description">
    <p>Charles was reported as agitated during management oversight meeting</p>
  </div>
  <div class="moj-timeline__description">
    <ul class="moj-timeline__documents">
      <li class="moj-timeline__document-item">
        <a class="moj-timeline__document-link" href="behavioural">View full details</a>
      </li>
    </ul>
  </div>

</div>

  <div class="moj-timeline__item">

    <div class="moj-timeline__header">
      <h2 class="moj-timeline__title">Drug test</h2>
    </div>

    <p class="moj-timeline__date">
      <time datetime="2019-06-14T14:01:00.000Z">19 September 2021</time>
    </p>

    <div class="moj-timeline__description">
      <p>Tested positive for cocaine</p>
    </div>
    <div class="moj-timeline__description">
      <ul class="moj-timeline__documents">
        <li class="moj-timeline__document-item">
          <a class="moj-timeline__document-link" href="behavioural">View full details</a>
        </li>
      </ul>
    </div>

  </div>
  <div class="moj-timeline__item">

    <div class="moj-timeline__header">
      <h2 class="moj-timeline__title">Arrested by police for petty theft</h2>

      <p class="moj-timeline__byline">by Joanne Brophy</p>

    </div>

    <p class="moj-timeline__date">
      <time datetime="2019-06-14T14:01:00.000Z">19 September 2021</time>
    </p>


    <div class="moj-timeline__description">

      <p>Met Police officer Annie Taylor called to say that Charles had been arrested for petty theft</p>

      <ul class="moj-timeline__documents">
        <li class="moj-timeline__document-item">
          <a class="moj-timeline__document-link" href="behavioural">View full details</a>
        </li>
      </ul>
    </div>

  </div>
</div>
<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
<h2 class="govuk-heading-m">Previous licence summary</h2>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters" style="background:#efefef;border-left:6px solid #1d70b8;padding: 10px">
      <p>Download the licence letter <a href="#">387261EDWIN.pdf</a></p>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third">
        <span class="govuk-body govuk-!-font-size-24" style="font-weight:bold;color:#055DA4">Expired</span>
        <p style="color:#505a5f;">time left on licence</p>
      </div>
      <div class="govuk-grid-column-one-third">
        <span class="govuk-body govuk-!-font-size-24" style="font-weight:bold;color:#055DA4">85 days</span>
        <p style="color:#505a5f;">time spent in the community</p>
      </div>
      <div class="govuk-grid-column-one-third">
        <span class="govuk-body govuk-!-font-size-24" style="font-weight:bold;color:#055DA4">3 years</span>
        <p style="color:#505a5f;">sentence length</p>
      </div>
    </div>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <p class="govuk-body">
          <span class="govuk-body" style="color:#505a5f">Order</span> ORA adult custody<br />
          <span class="govuk-body" style="color:#505a5f;">Index offence</span> Assault occasioning actual bodily harm
        </p>
      </div>
    </div>
  </div>
</div>
<a href="#" style="margin-top:10px;">Show all</a>



{% endblock %}
