{% extends "layout.html" %}
{% set title = 'Personal details' %}
{% block pageTitle %}{{ title }}{% endblock %}

{% block beforeContent %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{{ govukBackLink({
  text: "Back",
  href: "../search-results"
}) }}
{% endblock %}
{% block content %}

{% include "case/_case-service-user-banner.html" %}
{% set currentNavSection = 'risk' %}
{% include "case/_case-nav.html" %}

{% from "govuk/components/table/macro.njk" import govukTable %}
<div class="govuk-width-container">
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
       <img src="../../public/images/ROSH-score.jpg" width="100%" />
  </div>
     <div class="govuk-grid-column-two-thirds">
       <h2 class="govuk-heading-m">Risk of serious harm summary</h2>
         <p class="govuk-body-m">Mr Edwin poses a risk to members of the public who he perceives as having expensive phones or cash. If he is stressed or his drug misuse issues are not controlled the risk of violently robbing members of the public for any items they have that he can then sell on is high. </p>

         {% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

{{ govukInsetText({
         html: '<p>Date of last OASys assessment: 1 September 2020</p><p><a href="#">View OASys</a></p>'
}) }}
  </div>

  </div>
</div>
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
<div class="govuk-width-container">
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
      <h4 class="govuk-heading-m">Score history</h4>
      <img src="../../public/images/scores-history.jpg" width="100%" />
    </div>
      <div class="govuk-grid-column-two-thirds">
          <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">

      <h3 class="govuk-heading-s">Risk of serious recidivism (RSR) score - 3.7</h3>
       <img src="../../public/images/rsr-riskscore.jpg" width="100%" />
          {% from "govuk/components/details/macro.njk" import govukDetails %}

{{ govukDetails({
  summaryText: "About this RSR score",
  html: "<p>Last updated: 12 July 2018</p>
          <p>The RSR is taken from OASys.</p>"
}) }}
  </div>
          </div>
          <div class="govuk-grid-row">
     <div class="govuk-grid-column-one-half">
        <h3 class="govuk-heading-s">Offender Group Reconviction Scale (OGRS) score: 58%</h3>
        <img src="../../public/images/ogrs3-riskscore.jpg" width="100%" />
        <p>Medium spans 30% to 59%</p>
  </div>
    <div class="govuk-grid-column-one-half">
        <h3 class="govuk-heading-s">OASys general reoffending Predictor (OGP) score: 29%</h3>
        <img src="../../public/images/ogp-riskscore.jpg" width="100%" />
        <p>Low spans 0% to 29%</p>
  </div>

  </div>
          <hr class="govuk-section-break govuk-section-break--m">
              <div class="govuk-grid-row">
              <div class="govuk-grid-column-one-half">
        <h3 class="govuk-heading-s">OASys violence predictor (OVP): 75%</h3>
        <img src="../../public/images/osr-riskscore.jpg" width="100%" />
        <p>Medium spans 60% to 79%</p>
  </div>

  </div>
  </div>
  </div>
</div>
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
{% set keyDetails %}


    {{ govukSummaryList({
    rows: [
      {
      },
    {
        key: { html: 'Who is at risk' },
        value: { html: '
<ol class="govuk-list govuk-list--none govuk-list--spaced">
  <li>Public: high.</li> Mr Edwin has multiple convictions for opportunistic violent muggings. He uses violence to intimate members of the public into giving up their posessions and cash, which he can sell on to feed his crack cocaine addiction. His risk to the public is therefore high</li>
    <p><li>Known adult: low</li></p>
    <li>Staff: medium.</li> Mr Edwin can become agitated when questioned and while there has not yet been an incident involving staff he can appear intimidating.
    <p><li>Self: medium.</li> Mr Edwin associates with known gang members to sell what he acquires through violent robberies and this could escalate into a violent incident involving him. </p>
    <p><li>Children: medium.</li> While Mr Edwin does not specifically target children for robberies he could possibly see them as useful opportunitistic targets.</p>
</ol>
'}
},
    {
        key: { html: 'When is the risk likely to be greatest' },
        value: { text: 'When he has been talking to gang members in his neighbourhood and when he is low on money.' }
      }
    ]
  }) }}



{% endset %}

{{ appSummaryCard({
  titleText: 'Risk of serious harm details',
  classes: 'govuk-!-margin-bottom-6 app-summary-card--large-title',
  html: keyDetails
}) }}
{% set protectiveFactors %}


    {{ govukSummaryList({
    rows: [
    {
        key: { html: 'Supervision' },
        value: { html: '
<ul class="govuk-list govuk-list--none">
    <p>Probation is the main agency supporting Mr Edwin.</p>
    <details class="govuk-details" data-module="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      More detail
    </span>
  </summary>
  <div class="govuk-details__text">
  <p>He has other sources of support:</p>
  <li>Mental health services</li>
  <li>CGL</li>
  <li>Sentence Plan / objectives</li>
  <li>Family and partner</li>
  <li>OM</li>

  <p>1) John Jones</p>
  <p>Probation Officer - North London LDU</p>
  <p>To provide support in the community and custody. Administer OB programme 1-1 and make relevant referrals.</p>

  <p>2) SHIP Housing</p>
  <p>1 Upper Street</p>
  <p>London</p>
  <p>N1</p>
  <p>To provide housing support.</p>

  <p>3) Jane Smith (CGL)</p>
  <p>North London CGL</p>
  <p>This is to offer support with Rehab and other drug issues.</p>

  <p>4) MAPPA: Category 2 Level 1 - if there is evidence to support risk escalating,  Mr Edwin should be assessed as a level 2 case.</p>

  <p>5) Community / Custody Mental health service - Forensic Mental Health Practitioner (TBC). This should be used to support Mr Edwin with mental health issues, monitor any medication and suggest a safety plan for his self-harm risk. Suggest helping Mr Edwin with a full psychological report to diagnose and offer treatment.</p>

  <p>6) PD services - to support Mr Edwin in community. Suggest full psychological assessment and possible treatments/interventions for PD traits.</p>

  <p>7) NPS Central Referral Scheme - Mr Edwin to enter AP after release so that behaviour can be monitored 24/7 if on site, including curfew, drug tests, room searched.</p>

  <p>8) Met Police</p>
  Deal with any recalls and problems
  </div>
</details>
    ' }
      },
      {
          key: { html: 'Interventions and treatment' },
          value: { html: '
  <ul class="govuk-list govuk-list--none">
      <p>1. Offender manager will sentence plan with Mr Edwin to prepare for entry into community</p>
      <p>2) AP will support Mr Edwin through any rehab, drug testing, intense programmes / therapy and room searches.</p>
      <p>3) OM to deliver one to one work in supervision sessions consistently.</p>
      <p>4) OM to immediately undertake enforcement procedures should he fail to comply.</p>
      <p>5) Mr Edwin will have to partake in programmes aimed at addressing his thinking & behaviour as well as mental health and substance misuse issues.</p>
            ' }
        },
        {
            key: { html: 'Victim safety planning' },
            value: { html: '
    <ul class="govuk-list govuk-list--none">
        <p>It is unlikely Mr Edwin will seek out Mr Smith as there is no evidenced pattern of punitive behaviour on releae from custody.</p>
                ' }
          },
{
        key: { html: 'Contingency planning' },
        value: { html: '
<ul class="govuk-list govuk-list--none">
    <p>If there is poor compliance / non engagement with licence, warning letters and an increase in reporting will be actioned.</p>
    <details class="govuk-details" data-module="govuk-details">
    <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      More detail
    </span>
    </summary>
    <div class="govuk-details__text">
    We need to know your nationality so we can work out which elections you’re entitled to vote in. If you cannot provide your nationality, you’ll have to send copies of identity documents through the post.
    </div>
    </details>
' }
      }
    ]
  }) }}



{% endset %}

{{ appSummaryCard({
  titleText: 'Risk management plan',
  classes: 'govuk-!-margin-bottom-6 app-summary-card--large-title',
  html: protectiveFactors
}) }}
{{ govukButton({
  text: "Continue",
href: "../decision",
        classes: "govuk-!-margin-top-2 govuk-!-margin-bottom-8"
}) }}
{% endblock %}
