{% extends "layout.html" %}
{% set title = 'Personal details' %}
{% block pageTitle %}{{ title }}{% endblock %}

{% block beforeContent %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{{ govukBackLink({
  text: "Back",
  href: "../search-results"
}) }}
{% endblock %}
{% block content %}

{% include "case/_case-service-user-banner.html" %}
{% set currentNavSection = 'risk' %}
{% include "case/_case-nav.html" %}
<h2 class="govuk-heading-m">Contact Log</h2>
{% from "govuk/components/table/macro.njk" import govukTable %}
<div class="govuk-width-container">
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
       <img src="../../public/images/ROSH-score.jpg" width="100%" />
  </div>
     <div class="govuk-grid-column-two-thirds">
       <h2 class="govuk-heading-m">Risk of serious harm summary</h2>
         <p class="govuk-body-m">Mr Edwin poses a risk to members of the public who he perceives as having expensive phones or cash. If he is stressed or his drug misuse issues are not controlled the risk of violently robbing members of the public for any items they have that he can then sell on is high. </p>

         {% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

{{ govukInsetText({
         html: '<p>Date of last OASys assessment: 1 September 2020</p><p><a href="#">View OASys</a></p>'
}) }}
  </div>

  </div>
</div>
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
<div class="govuk-width-container">
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
      <h4 class="govuk-heading-m">Score history</h4>
      <img src="../../public/images/scores-history.jpg" width="100%" />
    </div>
      <div class="govuk-grid-column-two-thirds">
          <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">

      <h3 class="govuk-heading-s">Risk of serious recidivism (RSR) score - 3.7</h3>
       <img src="../../public/images/rsr-riskscore.jpg" width="100%" />
          {% from "govuk/components/details/macro.njk" import govukDetails %}

{{ govukDetails({
  summaryText: "About this RSR score",
  html: "<p>Last updated: 12 July 2018</p>
          <p>The RSR is taken from OASys.</p>"
}) }}
  </div>
          </div>
          <div class="govuk-grid-row">
     <div class="govuk-grid-column-one-half">
        <h3 class="govuk-heading-s">Offender group reconviction scale (OGRS) score: 58%</h3>
        <img src="../../public/images/ogrs3-riskscore.jpg" width="100%" />
        <p>Medium spans 30% to 59%</p>
  </div>
    <div class="govuk-grid-column-one-half">
        <h3 class="govuk-heading-s">OASys general reoffending predictor (OGP) score: 29%</h3>
        <img src="../../public/images/ogp-riskscore.jpg" width="100%" />
        <p>Low spans 0% to 29%</p>
  </div>

  </div>
          <hr class="govuk-section-break govuk-section-break--m">
              <div class="govuk-grid-row">
              <div class="govuk-grid-column-one-half">
        <h3 class="govuk-heading-s">OASys violence predictor (OVP): 75%</h3>
        <img src="../../public/images/osr-riskscore.jpg" width="100%" />
        <p>Medium spans 60% to 79%</p>
  </div>

  </div>
  </div>
  </div>
</div>
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
{% set keyDetails %}
    {{ govukSummaryList({
    rows: [
    {
        key: { text: 'Who is at risk' },
        value: { html: '
<ol class="govuk-list govuk-list--none govuk-list--spaced">
  <li>Public: high.</li> Mr Edwin has multiple convictions for opportunistic violent muggings. He uses violence to intimate members of the public into giving up their posessions and cash, which he can sell on to feed his crack cocaine addiction. His risk to the public is therefore high</li>
    <p><li>Known adult: low</li></p>
    <li>Staff: medium.</li> Mr Edwin can become agitated when questioned and while there has not yet been an incident involving staff he can appear intimidating.
    <p><li>Self: medium.</li> Mr Edwin associates with known gang members to sell what he acquires through violent robberies and this could escalate into a violent incident involving him. </p>
    <p><li>Children: medium.</li> While Mr Edwin does not specifically target children for robberies he could possibly see them as useful opportunitistic targets.</p>
</ol>
'}
},
    {
        key: { text: 'When is the risk likely to be greatest' },
        value: { text: 'When he has been talking to gang members in his neighbourhood and when he is low on money.' }
      }
    ]
  }) }}



{% endset %}

{{ appSummaryCard({
  titleText: 'Risk of serious harm details',
  classes: 'govuk-!-margin-bottom-6 app-summary-card--large-title',
  html: keyDetails
}) }}
{% set protectiveFactors %}


    {{ govukSummaryList({
    rows: [
    {
        key: { text: 'Key information' },
        value: { html: '
    <p>Mr Edwin is currently managed in the community on licence having been convicted of robbery and assualts with intent to rob. He has a high risk of harm to the public which is driven by his long-seated drug addiction.</p><p>His substance misuse issues started at age 14 when he started using cannabis. He moved on to using heroin and crack cocaine which he developed an addiction to.</p>
        ' }
      },
      {
          key: { text: 'Other information' },
          value: { html: "
      <p>A recent doctor's report has highlighted the possibility that Mr Edwin could suffer from a personality disorder and a specialist assessment might help him here. He was previously recalled to custody on 15 August 2021 and then released again on September 1st 2021.</p>
            " }
        },
        {
            key: { html: 'Supervision' },
            value: { html: '
          <p>Probation is the main agency supporting Mr Edwin.</p>
        <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          More detail
        </span>
      </summary>
      <div class="govuk-details__text">
      <p>He has other sources of support:</p>
      </div>
    </details>
        '
          }
        },
          {
              key: { html: 'Monitoring and control' },
              value: { html: '
              <p>Mr Edwin is under licence until 31 August 2022.</p> <p>View his <a href="licence-conditions">licence conditions</a>.</p>
                    '}
                  },
      {
          key: { html: 'Interventions and treatment' },
          value: { html: '
      <p>1) Offender manager will sentence plan with Mr Edwin to prepare for entry into community</p>
      <p>2) AP will support Mr Edwin through any rehab, drug testing, intense programmes / therapy and room searches.</p>
      <p>3) OM to deliver one to one work in supervision sessions consistently.</p>
      <p>4) OM to immediately undertake enforcement procedures should he fail to comply.</p>
      <p>5) Mr Edwin will have to partake in programmes aimed at addressing his thinking & behaviour as well as mental health and substance misuse issues.</p>
            ' }
        },
        {
            key: { html: 'Victim safety planning' },
            value: { html: '
          <p>It is unlikely Mr Edwin will seek out Mr Smith as there is no evidenced pattern of punitive behaviour on releae from custody.</p>
                ' }
          },
{
        key: { html: 'Contingency planning' },
        value: { html: '
    <p>If there is poor compliance / non engagement with licence, warning letters and an increase in reporting will be actioned.</p>
    <details class="govuk-details" data-module="govuk-details">
    <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      More detail
    </span>
    </summary>
    <div class="govuk-details__text">
    If Mr Edwin demonstrates a lack of compliance with his licence conditions, options include sending warning letters, behavioural contracts, and increased reporting. OM might also look into introducing stricer curfew times. A revised RMP may be appropriate to certain behaviours/changes in circumstances. If risk is unmanageable then recall needs to be enforced.

- Mr Edwin needs ongoing safety planning is to be ongoing. If there are any concerns then MAPPA is the right forum for discussing these.

- If Mr Edwin connects back with people in his old estate associated with gangs (who have previously been associated with an increase in risk), then OM should consider issuing a warning letter, additional licence conditions, or recall in certain scenarios.

- If Mr Edwin fails to follow licence conditions or neglects to follow intervention requirements, recall to custody should be considered.

- If Mr Edwin does not make progress on undersatnding his drug misuse and impact on other people, his interventions should be reviewed to find the right approach that works for him, with sentence plan amended. If Mr Edwin still does not respond to sentence plan, suggest a warning and then ultimately recall.

- If Mr Edwin is unable to secure stable employment, recommend reviewing interventions and sentence management plan to identify better pathways to emploiyment.

- If Mr Edwin continues to struggle with his financiasl situation, I recommend interventions focused on a) budget management and b) finding a job.  Citizen Advice Bureau and CGL can help here.

    </div>
    </details>
' }
      }
    ]
  }) }}



{% endset %}

{{ appSummaryCard({
  titleText: 'Risk management plan',
  classes: 'govuk-!-margin-bottom-6 app-summary-card--large-title',
  html: protectiveFactors
}) }}

{% endblock %}
