{% extends "layout.html" %}
{% set title = 'Compliance' %}
{% block pageTitle %}{{ title }}{% endblock %}

{% block beforeContent %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{{ govukBackLink({
  text: "Back",
  href: "../search-results"
}) }}
{% endblock %}

{% block content %}

{% include "case/_case-service-user-banner.html" %}
{% set currentNavSection = 'strengths' %}
{% include "case/_case-nav.html" %}
<h2 class="govuk-heading-m">Dynamic risks and compliance</h2>

{% from "govuk/components/table/macro.njk" import govukTable %}
<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Risk factor</th>
      <th scope="col" class="govuk-table__header govuk-table__header">Recent events</th>
            </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell govuk-table__cell"><span class="govuk-body govuk-!-font-size-14" style="color:#505a5f;">Risk management plan</span><p>Offender manager to deliver one-to-one work in supervision sessions consistently.</p></td>
      <td class="govuk-table__cell govuk-table__cell"><p>Supervision sessions logged average every 12 days in last <a href="behaviour">1 month</a></p>
        <p>Supervision sessions logged average every 6 days between <a href="behaviour">Jan and Aug 2021</a>.</p>
<p>2 acceptable absences in last 1 month</p></td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell govuk-table__cell"><span class="govuk-body govuk-!-font-size-14" style="color:#505a5f;">Risk management plan</span> <p>Mr Edwin to complete programmes aimed at addressing his thinking & behaviour as well as mental health and substance misuse issues.</p></td>
      <td class="govuk-table__cell govuk-table__cell"><p>Thinking skills program: booked not started</p>
<p>Mental health program: completed</p>
<p>Substance misuse program: in progress</p></td>
          </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell govuk-table__cell"><span class="govuk-body govuk-!-font-size-14" style="color:#505a5f;">Risk management plan</span> <p>Offender Manager will sentence plan with Mr Edwin to prepare for entry into community with MAPPA</p></td>
      <td class="govuk-table__cell govuk-table__cell">Sentence plan not found</td>
          </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell govuk-table__cell"><span class="govuk-body govuk-!-font-size-14" style="color:#505a5f;">Standard licence condition</span> <p>Not to commit any offence</p></td>
      <td class="govuk-table__cell govuk-table__cell"><p>No offence found under current licence.</p>
<p>Search contact log(s) using the keyword <a href="behavioural">police</a></p></td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell govuk-table__cell"><span class="govuk-body govuk-!-font-size-14" style="color:#505a5f;">Standard licence condition</span> <p>Keep in touch with the supervising officer in accordance with instructions given by the supervising officer</p></td>
      <td class="govuk-table__cell govuk-table__cell">Supervision sessions logged average every 12 days in last <a href="behavioural-drugs">1 month</a>; average every 6 days between <a href="behavioural-drugs">Jan and Aug 2021.</a>
2 acceptable absences in last 1 month</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell govuk-table__cell"><span class="govuk-body govuk-!-font-size-14" style="color:#505a5f;">Standard licence condition</span> <p>Receive visits from the supervising officer in accordance with instructions given by the supervising officer.</p></td>
      <td class="govuk-table__cell govuk-table__cell">Last contact log reporting <a href="behavioural-drugs">home visit</a> dated 12 August 2021</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell govuk-table__cell"><span class="govuk-body govuk-!-font-size-14" style="color:#505a5f;">Standard licence condition</span> <p>Reside permanently at an address approved by the supervising officer and obtain the prior permission of the supervising officer for any stay of one or more nights at a different address.</p></td>
      <td class="govuk-table__cell govuk-table__cell">Contact logs found around <a href="behavioural-drugs">accomodation</a> in last 6 months</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell govuk-table__cell"><span class="govuk-body govuk-!-font-size-14" style="color:#505a5f;">Standard licence condition</span> <p>Not undertake work, or a particular type of work, unless it is approved by the supervising officer and notify the supervising officer in advance of any proposal to undertake work or a particular type of work.</p></td>
      <td class="govuk-table__cell govuk-table__cell">No contact logs found around <a href="behavioural-drugs">employment</a> in last 6 months</td>
    </tr>
  </tbody>
</table>


{% endblock %}
