{% extends "layout.html" %}
{% set title = 'Log decision' %}
{% block pageTitle %}{{ title }}{% endblock %}

{% block beforeContent %}

{% endblock %}

{% block content %}

{% set mainClasses = "govuk-main-wrapper--l" %}

{% from "govuk/components/panel/macro.njk" import govukPanel %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ govukPanel({
        titleText: "Recommendation recorded",
        html: "Your reference number<br><strong>HDJ2123F</strong>"
      }) }}

      <p class="govuk-body">Your recommendation has been recorded in the contact log in nDelius.</p>

      <h2 class="govuk-heading-m">What happens next</h2>

      <p class="govuk-body">
You can share this view of risk with a colleague to support a discussion.
      </p>
      
      <p class="govuk-body">
        <a href="#" class="govuk-link">What did you think of this service?</a> (takes 30 seconds)
      </p>
    </div>
  </div>
{% endblock %}
