<h1 class='govuk-heading-m govuk-visually-hidden'>Overview</h1>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
        {% set offenderManagerHtml %}
            <div>{{ case.offenderManager.name }} - {{ case.offenderManager.probationTeam.code }}, {{ case.offenderManager.probationTeam.label }}</div>
            <div>Telephone: {{ case.offenderManager.phoneNumber }}</div>
            <div>Email: <a href='mailto:{{ case.offenderManager.email }}' target='_blank' rel='noopener' data-qa='offenderManagerEmail'>{{ case.offenderManager.email }}</a></div>
        {% endset %}

        {% set probationPractitionerHtml %}
            <div>{{ case.probationPractitioner.name }} - {{ case.probationPractitioner.probationTeam.code }}, {{ case.probationPractitioner.probationTeam.label }}</div>
            <div>Telephone: {{ case.probationPractitioner.phoneNumber }}</div>
            <div>Email: <a href='mailto:{{ case.probationPractitioner.email }}' target='_blank' rel='noopener' data-qa='probationPractitionerEmail'>{{ case.probationPractitioner.email }}</a></div>
        {% endset %}
        {{ appSummaryCard({
            titleText: 'Personal details',
            classes: 'govuk-!-margin-bottom-6 app-summary-card--large-title',
            html: govukSummaryList({
                rows: [
                    {
                        key: { html: 'Current address' },
                        value: { text: formatSingleLineAddress(case.currentAddress) }
                    },
                    {
                        key: { text: 'Offender manager' },
                        value: { html: offenderManagerHtml }
                    },
                    {
                        key: { text: 'Probation practitioner' },
                        value: { html: probationPractitionerHtml }
                    }
                ]
            })
        }) }}
    </div>
    <div class="govuk-grid-column-one-third-from-desktop">
        <h2 class='govuk-body'>NDelius risk flags</h2>
        <ul class='govuk-list' data-qa='riskFlags'>
        {% for flag in case.risk.riskFlags %}
            <li class='govuk-!-margin-bottom-4'>
            {{ mojBadge({
                text: flag.label,
                classes: "moj-badge--large moj-badge--" + flag.colour
            }) }}
            </li>
        {% endfor %}
        </ul>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        {% set indexOffenceHtml %}
            <ul class='govuk-list'>
            {% for offence in case.indexOffences %}
            <li>{{ offence.description }}</li>
            {% endfor %}
            </ul>
        {% endset %}
        {{ appSummaryCard({
            titleText: 'Offence overview',
            classes: 'govuk-!-margin-bottom-6 app-summary-card--large-title',
            html: govukSummaryList({
                rows: [
                    {
                        key: { html: 'Index offence' },
                        value: { html: indexOffenceHtml }
                    }
                ]
            })
        }) }}
    </div>
</div>