{% from "components/rosh-widget/macro.njk" import roshWidget %}
{% from "components/mappa-widget/macro.njk" import mappaWidget %}
{% from "components/risk-flag-widget/macro.njk" import riskFlagWidget %}

<h3 class="govuk-heading-m">Risk information</h3>
{{ roshWidget(params.roshRiskSummary) }}
{{ mappaWidget(params.mappa) }}
{{ riskFlagWidget(params.flags) }}
