{% extends "layout.html" %}
{% set title = 'Tasklist' %}
{% block pageTitle %}{{ title }}{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}


<style>
    /* Hack to make the tasklist items algin */
    ul.moj-task-list__items {
        padding-left: 0;
    }
</style>
<main class="govuk-main-wrapper " id="main-content" role="main">
          
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds-from-desktop">
            <h1 class="govuk-heading-l">Create a Part A form</h1>
            <p class="govuk-body">You’re recommending a recall for Duncann Cardours. Complete the following sections of the Part A form. You can do this in any order.</a>
            </p>

            <ol class="moj-task-list govuk-!-margin-top-8">
                <li>
                    <h2 class="moj-task-list__section" id="heading-recommendation">
                        Recommendation
                    </h2>
                    <ul class="moj-task-list__items">
                        <li class="moj-task-list__item">
                            <a class="moj-task-list__task-name" href="/recommendations/633602986/recall-type-indeterminate?fromPageId=task-list&amp;fromAnchor=heading-recommendation">What you recommend</a>      
                        <strong class="govuk-tag moj-task-list__task-completed">
                            completed
                        </strong>
                        </li>
                    </ul>
                </li>

                <li>
    <h2 class="moj-task-list__section" id="heading-alternatives">
        Alternatives to recall
    </h2>
    <ul class="moj-task-list__items">
        <li class="moj-task-list__item">
            <a class="moj-task-list__task-name" href="/recommendations/633602986/alternatives-tried?fromPageId=task-list&amp;fromAnchor=heading-alternatives">Alternatives
                tried already</a>
            
    <strong class="govuk-tag moj-task-list__task-completed">
        completed
    </strong>

        </li>
    </ul>
</li>
                
<li>
    <h2 class="moj-task-list__section" id="heading-circumstances">
        Circumstances
    </h2>
    <ul class="moj-task-list__items">
        <li class="moj-task-list__item">
            <a class="moj-task-list__task-name" href="/recommendations/633602986/is-indeterminate?fromPageId=task-list&amp;fromAnchor=heading-circumstances">Is Duncann Cardours on an indeterminate sentence?</a>
            
    <strong class="govuk-tag moj-task-list__task-completed">
        completed
    </strong>

        </li>
        <li class="moj-task-list__item">
            <a class="moj-task-list__task-name" href="/recommendations/633602986/is-extended?fromPageId=task-list&amp;fromAnchor=heading-circumstances">Is Duncann Cardours on an extended sentence?</a>
            
    <strong class="govuk-tag moj-task-list__task-completed">
        completed
    </strong>

        </li>
        
        
            <li class="moj-task-list__item">
                <a class="moj-task-list__task-name" href="/recommendations/633602986/indeterminate-type?fromPageId=task-list&amp;fromAnchor=heading-circumstances">Type of indeterminate sentence</a>
                
    <strong class="govuk-tag moj-task-list__task-completed">
        completed
    </strong>

            </li>
        
        
            <li class="moj-task-list__item">
                <a class="moj-task-list__task-name" href="/recommendations/633602986/indeterminate-details?fromPageId=task-list&amp;fromAnchor=heading-circumstances">Indeterminate and extended sentences - recall criteria</a>
                
    <strong class="govuk-tag moj-task-list__task-completed">
        completed
    </strong>

            </li>
        
        <li class="moj-task-list__item">
            <a class="moj-task-list__task-name" href="/recommendations/633602986/response-to-probation?fromPageId=task-list&amp;fromAnchor=heading-circumstances">Response to probation so far</a>
            
    <strong class="govuk-tag moj-task-list__task-completed">
        completed
    </strong>

        </li>
        <li class="moj-task-list__item">
            <a class="moj-task-list__task-name" href="/recommendations/633602986/licence-conditions?fromPageId=task-list&amp;fromAnchor=heading-circumstances">Breached licence condition(s)</a>
            
    <strong class="govuk-tag moj-task-list__task-completed">
        completed
    </strong>

        </li>
         
            <li class="moj-task-list__item">
                <a class="moj-task-list__task-name" href="/recommendations/633602986/what-led">What has led to this recall?</a>
                
    <strong class="govuk-tag moj-task-list__task-completed">
        completed
    </strong>

            </li>
        
        
    </ul>
</li>
                <li>
                    <h2 class="moj-task-list__section" id="heading-vulnerability">
                        Vulnerability and additional needs
                    </h2>
                    <ul class="moj-task-list__items">
                        <li class="moj-task-list__item">
                            <a class="moj-task-list__task-name" href="/recommendations/633602986/vulnerabilities">Would recall affect vulnerability or additional
                                needs?</a>
                            
                        <strong class="govuk-tag moj-task-list__task-completed">
                            completed
                        </strong>

                        </li>
                    </ul>
                </li>
                <li>
                    <h2 class="moj-task-list__section" id="heading-victim-liaison">
                        Victim liaison
                    </h2>
                    <ul class="moj-task-list__items">
                        <li class="moj-task-list__item">
                            <a class="moj-task-list__task-name" href="/recommendations/633602986/victim-contact-scheme">Are there any victims in the victim contact scheme?</a>
                            
                        <strong class="govuk-tag moj-task-list__task-completed">
                            completed
                        </strong>

                        </li>
                    </ul>
                </li>
                <li>
                    <h2 class="moj-task-list__section" id="heading-custody">
                        Custody
                    </h2>
                    <ul class="moj-task-list__items">
                        <li class="moj-task-list__item">
                            <a class="moj-task-list__task-name" href="/recommendations/633602986/custody-status?fromPageId=task-list&amp;fromAnchor=heading-custody">Is Duncann Cardours in
                                custody now?</a>
                            
                            <strong class="govuk-tag moj-task-list__task-completed">
                                completed
                            </strong>

                        </li>
                        
                        <li class="moj-task-list__item">
                            <a class="moj-task-list__task-name" href="/recommendations/633602986/iom">Is Duncann Cardours under Integrated Offender Management (IOM)?</a>
                            
                            <strong class="govuk-tag moj-task-list__task-completed">
                                completed
                            </strong>

                        </li>
                        
                        <li class="moj-task-list__item">
                            <a class="moj-task-list__task-name" href="/recommendations/633602986/contraband">Do you think Duncann Cardours is using recall to bring contraband into prison?</a>
                            
                            <strong class="govuk-tag moj-task-list__task-completed">
                                completed
                            </strong>

                        </li>
                    </ul>
                </li>


                <!--added countersigning bits-->
                <a id="countersign-point"></a>
                <li>
                    <h2 class="moj-task-list__section" id="heading-custody">
                        Countersign
                    </h2>
                    <ul class="moj-task-list__items">
                        <li class="moj-task-list__item">
                            <a class="moj-task-list__task-name" href="PO-1-admin-add">Add administrator</a>
                            
                            <strong class="govuk-tag moj-task-list__task-completed">
                            Completed
                            </strong>

                        </li>
                            <li class="moj-task-list__item">
                                <a class="moj-task-list__task-name" href="PO-2-request">Line manager countersignature</a>
                                
                                <strong class="govuk-tag govuk-tag--grey moj-task-list__task-completed">
                                To do
                                </strong>

                            </li>
                    
                    
                        <li class="moj-task-list__item">
                            <a class="moj-task-list__task-name" href="PO-2-request-ACO">Senior manager countersignature</a>
                            
                            <strong class="govuk-tag govuk-tag--grey moj-task-list__task-completed">
                            To do
                            </strong>

                        </li>
                    </ul>
                </li>
            
            
            </ol>
            
            <!-- <div>
                <a href="/recommendations/633602986/confirmation-part-a" class="govuk-button govuk-button--primary">Create Part A</a>
            </div> -->
            
        </div>
    </div>

        </main>


        
{% endblock %}