{% extends "layout.html" %}

{% block pageTitle %}{{ title }}{% endblock %}

{% block beforeContent %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/input/macro.njk" import govukInput %}

{{ govukBackLink({
  text: "Back",
  href: "/countersign/tasklist"
}) }}
{% endblock %}

{% block content %}

  
    <main class="govuk-main-wrapper " id="main-content" role="main">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">
          
                <h1 class="govuk-heading-l">
                  Request the senior manager's countersignature 
                </h1>
        
                <!-- <p class="govuk-body">
                  Request your line manager to endorse this Part A.
                </p> -->
        
                <form action="PO-3-request-confirm" method="post" novalidate>
        
                  <div class="govuk-form-group">
                    <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--s" for="postcode">
                        Enter senior manager's email address</label>
                    </h1>
                    <div id="referer-hint" class="govuk-hint">
                      You can only use HMPPS staff email addresses, for example jo.bloggs@justice.gov.uk
                    </div>
                    <input class="govuk-input govuk-input--width-30" id="postcode" name="postcode" type="text" autocomplete="postal-code">
                  </div>

                  <button class="govuk-button" data-module="govuk-button">
                    Continue
                  </button>
                </form>
          
        </div>
      </div>
    </main>
  </div>
     
{% endblock %}