{% extends "layout.html" %}

{% block pageTitle %}{{ title }}{% endblock %}

{% block beforeContent %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/input/macro.njk" import govukInput %}

{{ govukBackLink({
  text: "Back",
  href: "/countersign/tasklist"
}) }}
{% endblock %}

{% block content %}
   
      <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
            <div class="govuk-panel govuk-panel--confirmation">
              <h1 class="govuk-panel__title">
                Request for countersignature sent to
              </h1>
              <div class="govuk-panel__body">
                jo.bloggs@justice.org.uk</strong>
              </div>
            </div>
           
            <h2 class="govuk-heading-m">What happens next</h2>
            <p class="govuk-body">
              You’ll need to download the Part A once the line manager and senior manager have both countersigned.
            </p>
          
            <p class="govuk-body">
              <a href="PO-0-tasklist-lmsigned" class="govuk-link">Return to the Part A for Duncann Cardours</a>
            </p>
          </div>
        </div>
      </main>
    
  </div>
     
{% endblock %}