{% extends "layout.html" %} {% set title = 'Tasklist' %} {% block pageTitle %}{{
title }}{% endblock %} {% block beforeContent %} {% endblock %} {% block content
%}

<style>
	/* Hack to make the tasklist items algin */
	ul.moj-task-list__items {
		padding-left: 0;
	}
</style>
<main class="govuk-main-wrapper" id="main-content" role="main">
	<div class="govuk-grid-row">
		<div class="govuk-grid-column-two-thirds-from-desktop">
			 <h1 class="govuk-heading-l">Create a Part A form</h1> 

<!-- Copied from live dev -->
<ul style="list-style: none;padding:0;">
<li>
<h2 class="moj-task-list__section" id='heading-recommendation'>
    Make your recommendation
</h2>
<ul class="moj-task-list__items">
    <li class="moj-task-list__item">
        <a class="moj-task-list__task-name" href="#">What you recommend</a>

       
            <details open class="govuk-details" data-module="govuk-details" style="float:left;margin:30px 0 0 0;">
                <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                    View answer
                </span>
                </summary>
                <br>
                
                <div class="govuk-details__text">
                    <h3 class="govuk-heading-s">What do you recommend?</h3>
                    <p class="govuk-body">Fixed term recall</p>
                
                    <h3 class=" govuk-heading-s">Why do you recommend this recall type?</h3>
                    <p class="govuk-body">Mr Cardours risk can no longer be managed safely in the community.</p>
                </div>
            </details>
            
            <strong class="govuk-tag govuk-tag--lower govuk-tag--blue moj-task-list__task-completed" style="position: absolute;margin: 0 0 0 55px;;">
                Completed
            </strong>

    </li>
</ul>

</li>
            
<li>
<h2 class="moj-task-list__section" id='heading-circumstances'>
    Provide information about the circumstances
</h2>
<ul class="moj-task-list__items">
    <li class="moj-task-list__item">
        <a class="moj-task-list__task-name" href="#">How has Duncann Cardours responded to probation so far?</a>
        
        <details open class="govuk-details" data-module="govuk-details" style="float:left;margin:30px 0 0 0;">
            <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
                View answer
            </span>
            </summary>
            <br>
            
            <div class="govuk-details__text">
                Mr Cardours has been attending appointments regularly but recently has started to mix with other substance misusers at the approved premises. He failed an alchol test last week and shows signs of wanting to correct. His behaviour has become increasingly erratic and leads to staff being concern if he has been going to the pub during the day. In one appointment he noticeably started smelling of drink. 
            </div>
        </details>
        
        <strong class="govuk-tag govuk-tag--lower govuk-tag--blue moj-task-list__task-completed" style="position: absolute;margin: 0 0 0 55px;;">
            Completed
        </strong>

    </li>
    <li class="moj-task-list__item">
        <a class="moj-task-list__task-name" href="#">What licence conditions has Duncann Cardours breached?</a>
        
        <details open class="govuk-details" data-module="govuk-details" style="float:left;margin:30px 0 0 0;">
            <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
                View answer
            </span>
            </summary>
            <br>
            
            <div class="govuk-details__text">
                <h3 class="govuk-heading-s">Disclosure or information</h3>
                <p class="govuk-body">Notify your supervising officer of any developing intimate relationships with [WOMEN / MEN / WOMEN OR MEN].</p>

                <h3 class="govuk-heading-s">Notes</h3>
                <p class="govuk-body">Person is Joan Smyth, Duncann Cardours ex-wife</p>
                <br>
                <h3 class="govuk-heading-s">Participate or co-op with Programme or Activities</h3>
                <p class="govuk-body">To comply with any requirements specified by your supervising officer for the purpose of ensuring that you address your alcohol / drug / sexual / violent / gambling / solvent abuse / anger / debt / prolific / offending behaviour problems at the [NAME OF COURSE / CENTRE].</p>

                <h3 class="govuk-heading-s">Notes</h3>
                <p class="govuk-body">Programme is called COVIAD - for Angry Drinker</p>
            </div>
        </details>
        
        <strong class="govuk-tag govuk-tag--lower govuk-tag--blue moj-task-list__task-completed" style="position: absolute;margin: 0 0 0 55px;;">
            Completed
        </strong>

    </li>

    <li class="moj-task-list__item">
        <a class="moj-task-list__task-name" href="#">What has led to this recall?</a>
        
        <details open class="govuk-details" data-module="govuk-details" style="float:left;margin:30px 0 0 0;">
            <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
                View answer
            </span>
            </summary>
            <br>
            
            <div class="govuk-details__text">
                Mr Cardours was attending appointments regularly but then recently started smell of alcohol in appointments. Keyworker at AP reports he has been mixing with other substance misusers at the approved premises. He failed an alchol test last week and shows no signs of wanting to correct. His behaviour has become increasingly erratic and leads to staff being concern if he has been going to the pub during the day. In one appointment he noticeably started smelling of drink. 
            </div>
        </details>
        
        <strong class="govuk-tag govuk-tag--lower govuk-tag--blue moj-task-list__task-completed" style="position: absolute;margin: 0 0 0 55px;;">
            Completed
        </strong>

    </li>

    <li class="moj-task-list__item">
        <a class="moj-task-list__task-name" href="#">What alternatives to recall have been tried already?</a>
        
       
        
        <strong class="govuk-tag govuk-tag--lower govuk-tag--blue moj-task-list__task-completed" >
            Completed
        </strong>

        <details class="govuk-details" data-module="govuk-details" style="margin: 40px 0 10px">
            <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
                View answer
            </span>
            </summary>
            <br>
            
            <div class="govuk-details__text">
                <h3 class="govuk-heading-s">Drug testing</h3>
                <p>Alcohol tests at AP daily</p>
                <h3 class="govuk-heading-s">Referral to partnership agencies</h3>  
                <p>COVAID Angry Drinkers</p>
            </div>
        </details>

    </li>
    
    <li class="moj-task-list__item">
        <a class="moj-task-list__task-name" href="#">Is this an emergency recall?</a>
            
        <strong class="govuk-tag govuk-tag--lower govuk-tag--blue moj-task-list__task-completed">
            Completed
        </strong>

        <details class="govuk-details" data-module="govuk-details" style="margin: 40px 0 10px">
            <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
                View answer
            </span>
            </summary>
            <br>
            
            <div class="govuk-details__text">
                No
            </div>
        </details>

    </li>
    
    <li class="moj-task-list__item">
        <a class="moj-task-list__task-name" href="#">Is Duncann Cardours on an indeterminate sentence?</a>
        
        <strong class="govuk-tag govuk-tag--lower govuk-tag--blue moj-task-list__task-completed">
            Completed
        </strong>

        <details class="govuk-details" data-module="govuk-details" style="margin: 40px 0 10px">
            <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
                View answer
            </span>
            </summary>
            <br>
            
            <div class="govuk-details__text">
                No
            </div>
        </details>

    </li>
    
    <li class="moj-task-list__item">
        <a class="moj-task-list__task-name" href="#">Is Duncann Cardours on an extended sentence?</a>
        
<strong class="govuk-tag govuk-tag--lower govuk-tag--blue moj-task-list__task-completed">
    Completed
</strong>

<details class="govuk-details" data-module="govuk-details" style="margin: 40px 0 10px">
    <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
        View answer
    </span>
    </summary>
    <br>
    
    <div class="govuk-details__text">
        No
    </div>
</details>

    </li>
    
    

</ul>
</li>
            <li>
<h2 class="moj-task-list__section" id='heading-person-details'>
    Confirm details for Duncann Cardours
</h2>
<ul class="moj-task-list__items">
    <li class="moj-task-list__item">
        <a class="moj-task-list__task-name" href="#">Personal details</a>
        
<strong class="govuk-tag govuk-tag--lower govuk-tag--blue moj-task-list__task-completed">
Reviewed
</strong>

<details class="govuk-details" data-module="govuk-details" style="margin: 40px 0 10px">
    <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
        View answer
    </span>
    </summary>
    <br>
    
    <div class="govuk-details__text">
        No
    </div>
</details>

    </li>
    
    <li class="moj-task-list__item">
        <a class="moj-task-list__task-name" href="#">Offence details</a>
        
<strong class="govuk-tag govuk-tag--lower govuk-tag--blue moj-task-list__task-completed">
Reviewed
</strong>

<details class="govuk-details" data-module="govuk-details" style="margin: 40px 0 10px">
    <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
        View answer
    </span>
    </summary>
    <br>
    
    <div class="govuk-details__text">
        No
    </div>
</details>

    </li>
    <li class="moj-task-list__item">
        <a class="moj-task-list__task-name" href="#">Offence analysis</a>
        
<strong class="govuk-tag govuk-tag--lower govuk-tag--blue moj-task-list__task-completed">
    Reviewed
</strong>

<details class="govuk-details" data-module="govuk-details" style="margin: 40px 0 10px">
    <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
        View answer
    </span>
    </summary>
    <br>
    
    <div class="govuk-details__text">
        No
    </div>
</details>

    </li>
    
    
</ul>
</li>
            <li>
                <h2 class="moj-task-list__section" id='heading-vulnerability'>
                    Confirm any vulnerability and additional needs
                </h2>
                <ul class="moj-task-list__items">
                    <li class="moj-task-list__item">
                        <a class="moj-task-list__task-name" href="#">Would recall affect vulnerability or additional
                            needs?</a>
                        
<strong class="govuk-tag govuk-tag--lower govuk-tag--blue moj-task-list__task-completed">
    Completed
</strong>

<details class="govuk-details" data-module="govuk-details" style="margin: 40px 0 10px">
    <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
        View answer
    </span>
    </summary>
    <br>
    
    <div class="govuk-details__text">
        No
    </div>
</details>

                    </li>
                </ul>
            </li>
            <li>
                <h2 class="moj-task-list__section" id='heading-victim-liaison'>
                    Confirm victim liaison information
                </h2>
                <ul class="moj-task-list__items">
                    <li class="moj-task-list__item">
                        <a class="moj-task-list__task-name" href="#">Are there any victims in the victim contact scheme?</a>
                        
<strong class="govuk-tag govuk-tag--lower govuk-tag--blue moj-task-list__task-completed">
    Completed
</strong>

<details class="govuk-details" data-module="govuk-details" style="margin: 40px 0 10px">
    <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
        View answer
    </span>
    </summary>
    <br>
    
    <div class="govuk-details__text">
        No
    </div>
</details>

                    </li>
                </ul>
            </li>
            
<li>
<h2 class="moj-task-list__section" id='heading-custody'>
    Provide information about custody
</h2>
<ul class="moj-task-list__items">
    <li class="moj-task-list__item">
        <a class="moj-task-list__task-name" href="#">Is Duncann Cardours in custody now?</a>
        
<strong class="govuk-tag govuk-tag--lower govuk-tag--blue moj-task-list__task-completed">
    Completed
</strong>

<details class="govuk-details" data-module="govuk-details" style="margin: 40px 0 10px">
    <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
        View answer
    </span>
    </summary>
    <br>
    
    <div class="govuk-details__text">
        No
    </div>
</details>

    </li>
    
    <li class="moj-task-list__item">
        <a class="moj-task-list__task-name" href="#">Is Duncann Cardours under Integrated Offender Management (IOM)?</a>
        
<strong class="govuk-tag govuk-tag--lower govuk-tag--grey moj-task-list__task-completed">
    To do
</strong>


    </li>
    
    <li class="moj-task-list__item">
        <a class="moj-task-list__task-name" href="#">Do you think Duncann Cardours is trying to bring contraband into prison?</a>
        
<strong class="govuk-tag govuk-tag--lower govuk-tag--blue moj-task-list__task-completed">
    Completed
</strong>

<details class="govuk-details" data-module="govuk-details" style="margin: 65px 0 10px">
    <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
        View answer
    </span>
    </summary>
    <br>
    
    <div class="govuk-details__text">
        No
    </div>
</details>

    </li>
</ul>
</li>
<!--added countersigning bits-->
<a id="countersign-point"></a>
<li>
    <h2 class="moj-task-list__section" id="heading-custody">
        Countersigned by management
    </h2>
    <ul class="moj-task-list__items">
        <li class="moj-task-list__item">
            <a class="moj-task-list__task-name" href="SPO-csign"
                >Line manager countersign</a
            >

            <strong
                class="govuk-tag govuk-tag--blue govuk-tag--lower  moj-task-list__task-completed"
            >
                Completed
            </strong>
        </li>

        <li class="moj-task-list__item">
            <a class="moj-task-list__task-name" href="SPO-csign"
                >Senior manager countersign</a
            >

            <strong
                class="govuk-tag govuk-tag--grey  govuk-tag--lower moj-task-list__task-completed"
            >
                In progress
            </strong>
        </li>
    </ul>
</li>
        </ol>
        
    </div>
</div>
</ul>
<!-- <div>
    <a
        href="/recommendations/633602986/confirmation-part-a"
        class="govuk-button govuk-button--primary"
        >Create Part A</a
    >
</div> -->

			
		</div>
	</div>
</main>

{% endblock %}
