{% extends "layout.html" %} {% block beforeContent %} {{ govukBackLink({ text:
"Back", href: '/countersign/Manager-tasklist' }) }} {% endblock %} {% block
content %}

<div class="govuk-width-container">
	<main
		class="govuk-main-wrapper govuk-main-wrapper--l"
		id="main-content"
		role="main"
	>
		<div class="govuk-grid-row">
			<div class="govuk-grid-column-two-thirds">
				<div class="govuk-panel govuk-panel--confirmation">
					<h1
						class="govuk-panel__title govuk-body govuk-!-font-size-36"
						style="color: white"
					>
					Countersignature complete for <br/>Duncann Cardours <br />CRN: X514364<br />
					</h1>
					<div
						class="govuk-panel__body govuk-body govuk-!-font-size-24"
						style="color: white"
					>
						<!-- Email sent to jo.bloggs@justice.gov.uk  -->
					</div>
				</div>

				<h2 class="govuk-heading-m">Next steps</h2>

				<p class="govuk-body">
					We'll send the senior manager an email at jo.bloggs@justice.gov.uk asking them to
					countersign this Part A.
				</p>

				<p class="govuk-body">
					We'll also email the administrator to tell them you've countersigned this Part A.
				</p>

				<p class="govuk-body">
					<a href="/countersign/SPO-0-tasklist-lmsigned" class="govuk-link"
						>Return to the Part A for Duncann Cardours</a
					>
				</p>
			</div>
		</div>
	</main>
</div>

{% endblock %}
