{% extends "layout.html" %} 
{% block pageTitle %}{{ title }}{% endblock %}

{% block beforeContent %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/input/macro.njk" import govukInput %}

{{ govukBackLink({
  text: "Back",
  href: "/countersign/tasklist"
}) }}
{% endblock %}

{% block content %}




<style>
	/* Hack to make the tasklist items algin */
	ul.moj-task-list__items {
		padding-left: 0;
	}
</style>
<main class="govuk-main-wrapper" id="main-content" role="main">
	<div class="govuk-grid-row">
		<div class="govuk-grid-column-two-thirds-from-desktop">
			<!-- <h1 class="govuk-heading-l">Create a Part A form</h1> -->

			<div
				class="govuk-notification-banner"
				role="region"
				aria-labelledby="govuk-notification-banner-title"
				data-module="govuk-notification-banner"
			>
				<div class="govuk-notification-banner__header">
					<h2
						class="govuk-notification-banner__title"
						id="govuk-notification-banner-title"
					>
						Countersignature requested
					</h2>
				</div>
				<div class="govuk-notification-banner__content">
					<p class="govuk-notification-banner__heading">
						
						<a class="govuk-notification-banner__link" href="#countersign-point"
							>Countersign</a
						>
						the Part A for Duncann Cardours </br>CRN: X514364.
					</p>
				</div>
			</div>


<!-- Copied from live dev -->
<ul style="list-style: none;padding:0;">
<li>
<h2 class="moj-task-list__section" id='heading-recommendation'>
    Recommendation
</h2>
<ul class="moj-task-list__items">
    <li class="moj-task-list__item">
        <a class="moj-task-list__task-name" href="#">What you recommend</a>

       
            <details open class="govuk-details" data-module="govuk-details" style="float:left;margin:30px 0 0 0;">
                <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                    View answer
                </span>
                </summary>
                <br>
                
                <div class="govuk-details__text">
                    <h3 class="govuk-heading-s">What do you recommend?</h3>
                    <p class="govuk-body">Fixed term recall</p>
                
                    <h3 class=" govuk-heading-s">Why do you recommend this recall type?</h3>
                    <p class="govuk-body">Mr Cardours risk can no longer be managed safely in the community.</p>
                </div>
            </details>
            
            <strong class="govuk-tag govuk-tag--lower govuk-tag--blue moj-task-list__task-completed" style="position: absolute;margin: 0 0 0 55px;;">
                Completed
            </strong>

    </li>
</ul>

</li>
            
<li>
<h2 class="moj-task-list__section" id='heading-circumstances'>
    Circumstances
</h2>
<ul class="moj-task-list__items">
    <li class="moj-task-list__item">
        <a class="moj-task-list__task-name" href="#">How has Duncann Cardours responded to probation so far?</a>
        
        <details open class="govuk-details" data-module="govuk-details" style="float:left;margin:30px 0 0 0;">
            <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
                View answer
            </span>
            </summary>
            <br>
            
            <div class="govuk-details__text">
                Mr Cardours has being compliant througout his supervision. He has not comitted any further offences since his release on 03/ 06/2022. He has been open in supervision sessions and engaged well wtih his offender manager. He keeps in good contact with his offender manager and updates him about the various situations which he struggles with. It is clear however, that in recent weeks and months, he has found it increasingly difficult to manage himself and his emotions effectively, with evidence of a deterioration in presentation and escalation in terms of behaviour.            </div>
        </details>
        
        <strong class="govuk-tag govuk-tag--lower govuk-tag--blue moj-task-list__task-completed" style="position: absolute;margin: 0 0 0 55px;;">
            Completed
        </strong>

    </li>
    <li class="moj-task-list__item">
        <a class="moj-task-list__task-name" href="#">What licence conditions has Duncann Cardours breached?</a>
        
        <details open class="govuk-details" data-module="govuk-details" style="float:left;margin:30px 0 0 0;">
            <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
                View answer
            </span>
            </summary>
            <br>
            
            <div class="govuk-details__text">
                <h3 class="govuk-heading-s">Disclosure or information</h3>
                <p class="govuk-body">Notify your supervising officer of any developing intimate relationships with [WOMEN / MEN / WOMEN OR MEN].</p>

                <h3 class="govuk-heading-s">Notes</h3>
                <p class="govuk-body">Person is Joan Smyth, Duncann Cardours ex-wife</p>
                <br>
                <h3 class="govuk-heading-s">Participate or co-op with Programme or Activities</h3>
                <p class="govuk-body">To comply with any requirements specified by your supervising officer for the purpose of ensuring that you address your alcohol / drug / sexual / violent / gambling / solvent abuse / anger / debt / prolific / offending behaviour problems at the [NAME OF COURSE / CENTRE].</p>

                <h3 class="govuk-heading-s">Notes</h3>
                <p class="govuk-body">Programme is called COVIAD - for Angry Drinker</p>
            </div>
        </details>
        
        <strong class="govuk-tag govuk-tag--lower govuk-tag--blue moj-task-list__task-completed" style="position: absolute;margin: 0 0 0 55px;;">
            Completed
        </strong>

    </li>

    <li class="moj-task-list__item">
        <a class="moj-task-list__task-name" href="#">What has led to this recall?</a>
        
        <details open class="govuk-details" data-module="govuk-details" style="float:left;margin:30px 0 0 0;">
            <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
                View answer
            </span>
            </summary>
            <br>
            
            <div class="govuk-details__text">
                <p>Mr Duncann Cardours was made subjet to recal preceedings on 12/ 12/22.</p>
               <p>Mr Cardour was granted an short stay at Hillingdon Approved Premise following a relationship brakedown with his partner who he was ‘then’ residing with and inresponse to his escelating and increasingly erratic behaviour.</p> 
                <p>On Friday 12/ 12/2022 Mr Cardours informed me (his Offender Manager) that his relationship brakedown was over and he could not return to his partners adress. He was then directed approved premise. Mr Cardours arrived as directed and was given an Approved Premise induction. During this induction an Mr Cardours made concerning comment. He informed staff that he had said to his partner during an argument that he would never go back to prison just for a slap - where he would get 15 years, he may as well kill her and only get 20 years.
                Later in the evening at 22:20 Mr Cardours decided to leave the AP without informing staff where he was going. A staff member managed to stop Mr Cardours down the lane which is off the property of the hostel. She asked him where he was going, he informed the staff member that he was just going to clear his head. Staff asked him what his thoughts were and if he was suicidal, he said “ I will always be suicidal I have been this way since I was 20” he then said “I won’t do anything because I promised I would go and see my sister in the morning and I just want to go and clear my head”. Mr Cardours left the hostel for a total of 10 minutes and was back before the curfew.
                During the 23:00 care checks a staff member found Mr Cardours asleep and fully clothed on his bed She also could smell cannabis.</p>
                <p>Mr Cardours was told by Approved Premises staff during his induction that residents were not allowed to visit a housing area near to the hostel called ‘Hillingdon’ outside of a designated timeframe of 0900 – 1000. The following day on 12/12/2022 a staff member reiterated to Mr Cardours what she had said the day prior during his induction.</p>
                <p>At around 07:30am on 12/12/2022, Mr Cardours came to the reception area and informed staff that he was going out for a walk. Mr Cardours then became agitated and was shouting saying; nobody can tell him what he can and can’t do. Another staff member told Darren to calm down. Mr Cardours then said he is a grown man and that can do what he wants, he further mentioned that if anyone tells him that he can’t go onto town, he will kill them. Both Staff members told Mr Cardours that this was not acceptable, and he should calm down.</p>
                <p>Mr Cardours then said he was getting his stuff and leaving, he went to his room and collected his bags and then left the Approved Premises. A staff member tried to talk to him whilst he was walking off trying to get him to calm down and come back, however, she was unsuccessful in her attempts and a recall was subsequently instigated by out of hours management due to the further deterioriation in behaviour demonstrated and the threats that were verbally expressed by Mr Cardours towards staff members and his ex-partner - reflective of increased risk.</p>
                            </div>
        </details>
        
        <strong class="govuk-tag govuk-tag--lower govuk-tag--blue moj-task-list__task-completed" style="position: absolute;margin: 0 0 0 55px;;">
            Completed
        </strong>

    </li>

    <li class="moj-task-list__item">
        <a class="moj-task-list__task-name" href="#">What alternatives to recall have been tried already?</a>
        
       
        
        <strong class="govuk-tag govuk-tag--lower govuk-tag--blue moj-task-list__task-completed" >
            Completed
        </strong>

        <details class="govuk-details" data-module="govuk-details" style="margin: 40px 0 10px">
            <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
                View answer
            </span>
            </summary>
            <br>
            
            <div class="govuk-details__text">
                <h3 class="govuk-heading-s">Drug testing</h3>
                <p>Alcohol tests at AP daily</p>
                <h3 class="govuk-heading-s">Referral to partnership agencies</h3>  
                <p>COVAID Angry Drinkers</p>
            </div>
        </details>

    </li>
    
    <li class="moj-task-list__item">
        <a class="moj-task-list__task-name" href="#">Is this an emergency recall?</a>
            
        <strong class="govuk-tag govuk-tag--lower govuk-tag--blue moj-task-list__task-completed">
            Completed
        </strong>

        <details class="govuk-details" data-module="govuk-details" style="margin: 40px 0 10px">
            <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
                View answer
            </span>
            </summary>
            <br>
            
            <div class="govuk-details__text">
                No
            </div>
        </details>

    </li>
    
    <li class="moj-task-list__item">
        <a class="moj-task-list__task-name" href="#">Is Duncann Cardours on an indeterminate sentence?</a>
        
        <strong class="govuk-tag govuk-tag--lower govuk-tag--blue moj-task-list__task-completed">
            Completed
        </strong>

        <details class="govuk-details" data-module="govuk-details" style="margin: 40px 0 10px">
            <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
                View answer
            </span>
            </summary>
            <br>
            
            <div class="govuk-details__text">
                No
            </div>
        </details>

    </li>
    
    <li class="moj-task-list__item">
        <a class="moj-task-list__task-name" href="#">Is Duncann Cardours on an extended sentence?</a>
        
<strong class="govuk-tag govuk-tag--lower govuk-tag--blue moj-task-list__task-completed">
    Completed
</strong>

<details class="govuk-details" data-module="govuk-details" style="margin: 40px 0 10px">
    <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
        View answer
    </span>
    </summary>
    <br>
    
    <div class="govuk-details__text">
        No
    </div>
</details>

    </li>
    
    

</ul>
</li>
            <li>
<h2 class="moj-task-list__section" id='heading-person-details'>
    Details for Duncann Cardours
</h2>
<ul class="moj-task-list__items">
    <li class="moj-task-list__item">
        <a class="moj-task-list__task-name" href="#">Personal details</a>
        
<strong class="govuk-tag govuk-tag--lower govuk-tag--blue moj-task-list__task-completed">
Reviewed
</strong>

<details class="govuk-details" data-module="govuk-details" style="margin: 40px 0 10px">
    <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
        View answer
    </span>
    </summary>
    <br>
    
    <div class="govuk-details__text">
        Error
    </div>
</details>

    </li>
    
    <li class="moj-task-list__item">
        <a class="moj-task-list__task-name" href="#">Offence details</a>
        
<strong class="govuk-tag govuk-tag--lower govuk-tag--blue moj-task-list__task-completed">
Reviewed
</strong>

<details class="govuk-details" data-module="govuk-details" style="margin: 40px 0 10px">
    <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
        View answer
    </span>
    </summary>
    <br>
    
    <div class="govuk-details__text">
Error    </div>
</details>

    </li>
    <li class="moj-task-list__item">
        <a class="moj-task-list__task-name" href="#">Offence analysis</a>
        
<strong class="govuk-tag govuk-tag--lower govuk-tag--blue moj-task-list__task-completed">
    Reviewed
</strong>

<details class="govuk-details" data-module="govuk-details" style="margin: 40px 0 10px">
    <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
        View answer
    </span>
    </summary>
    <br>
    
    <div class="govuk-details__text">
        Mr Cardon was homeless individuel, who had moved from Norwich to the Essex area in 2013. He was living a homeless, transiant life, at which point he met one of the victim's at the Access Point at Brentwood hostel in September 2013. He was invited back to the victim's home; also at that the location was a further male (victim number 2). The parties concerned started drinking heavily and at some point, Mr. Cardours's behaviour changed and he became extremely aggressive and started beating the two men with his fists and feet. The assaults were prolonged and caused serious injury.
    </div>
</details>

    </li>
    
    
</ul>
</li>
            <li>
                <h2 class="moj-task-list__section" id='heading-vulnerability'>
                    Vulnerability and additional needs
                </h2>
                <ul class="moj-task-list__items">
                    <li class="moj-task-list__item">
                        <a class="moj-task-list__task-name" href="#">Would recall affect vulnerability or additional
                            needs?</a>
                        
<strong class="govuk-tag govuk-tag--lower govuk-tag--blue moj-task-list__task-completed">
    Completed
</strong>

<details class="govuk-details" data-module="govuk-details" style="margin: 40px 0 10px">
    <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
        View answer
    </span>
    </summary>
    <br>
    
    <div class="govuk-details__text">
        <h3 class-"govuk-heading-s">Suicide or self harm</h3>
        <p>Mr Cardours has been diognosed with PTSD and suffers from depression. Over the last few months Mr Cardours depression has increased with an incident occuring on the 05/05/2022 where he was considering suicide. The police were called to this incident including a police negotiator and Mr Cardours was eventually pulled out of a river and sent home in the care of his partner and brother.</p>

    </div>
</details>

                    </li>
                </ul>
            </li>
            <li>
                <h2 class="moj-task-list__section" id='heading-victim-liaison'>
                    Victim liaison
                </h2>
                <ul class="moj-task-list__items">
                    <li class="moj-task-list__item">
                        <a class="moj-task-list__task-name" href="#">Are there any victims in the victim contact scheme?</a>
                        
<strong class="govuk-tag govuk-tag--lower govuk-tag--blue moj-task-list__task-completed">
    Completed
</strong>

<details class="govuk-details" data-module="govuk-details" style="margin: 40px 0 10px">
    <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
        View answer
    </span>
    </summary>
    <br>
    
    <div class="govuk-details__text">
        No
    </div>
</details>

                    </li>
                </ul>
            </li>
            
<li>
<h2 class="moj-task-list__section" id='heading-custody'>
    Custody
</h2>
<ul class="moj-task-list__items">
    <li class="moj-task-list__item">
        <a class="moj-task-list__task-name" href="#">Is Duncann Cardours in custody now?</a>
        
<strong class="govuk-tag govuk-tag--lower govuk-tag--blue moj-task-list__task-completed">
    Completed
</strong>

<details class="govuk-details" data-module="govuk-details" style="margin: 40px 0 10px">
    <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
        View answer
    </span>
    </summary>
    <br>
    
    <div class="govuk-details__text">
        No
    </div>
</details>

    </li>
    
    <li class="moj-task-list__item">
        <a class="moj-task-list__task-name" href="#">Is Duncann Cardours under Integrated Offender Management (IOM)?</a>
        
<strong class="govuk-tag govuk-tag--lower govuk-tag--grey moj-task-list__task-completed">
    To do
</strong>


    </li>
    
    <li class="moj-task-list__item">
        <a class="moj-task-list__task-name" href="#">Do you think Duncann Cardours is trying to bring contraband into prison?</a>
        
<strong class="govuk-tag govuk-tag--lower govuk-tag--blue moj-task-list__task-completed">
    Completed
</strong>

<details class="govuk-details" data-module="govuk-details" style="margin: 65px 0 10px">
    <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
        View answer
    </span>
    </summary>
    <br>
    
    <div class="govuk-details__text">
        No
    </div>
</details>

    </li>
</ul>
</li>
<!--added countersigning bits-->
<a id="countersign-point"></a>
<li>
    <h2 class="moj-task-list__section" id="heading-custody">
        Countersign
    </h2>
    <ul class="moj-task-list__items">
        <li class="moj-task-list__item">
            <a class="moj-task-list__task-name" href="#"
                >Notify an administrator</a
            >

            <strong
                class="govuk-tag govuk-tag--blue govuk-tag--lower  moj-task-list__task-completed"
            >
                Completed
            </strong>
        </li>
        <li class="moj-task-list__item">
            <a class="moj-task-list__task-name" href="SPO-csign"
                >Request line manager's countersignature</a
            >

            <strong
                class="govuk-tag govuk-tag--grey govuk-tag--lower  moj-task-list__task-completed"
            >
                To do
            </strong>
        </li>

        <li class="moj-task-list__item">
            <a class="moj-task-list__task-name" href="SPO-csign"
                >Request senior manager's countersignature</a
            >

            <strong
                class="govuk-tag govuk-tag--grey  govuk-tag--lower moj-task-list__task-completed"
            >
                To do
            </strong>
        </li>
    </ul>
</li>
        </ol>
        
    </div>
</div>
</ul>
<!-- <div>
    <a
        href="/recommendations/633602986/confirmation-part-a"
        class="govuk-button govuk-button--primary"
        >Create Part A</a
    >
</div> -->

			
		</div>
	</div>
</main>

{% endblock %}
