{% extends "layout.html" %}

{% block pageTitle %}{{ title }}{% endblock %}

{% block beforeContent %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/input/macro.njk" import govukInput %}

{{ govukBackLink({
  text: "Back",
  href: "/countersign/tasklist"
}) }}
{% endblock %}

{% block content %}

  
    <main class="govuk-main-wrapper " id="main-content" role="main">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">
          <form action="SPO-notify" method="post" novalidate>
  
    
            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                  <h1 class="govuk-fieldset__heading">
                    Do you agree with the recommendation to recall Duncann Cardours?
                  </h1>
                </legend>
                <!-- <div id="contact-hint" class="govuk-hint">
                  Select one option.
                </div> -->
                <div class="govuk-radios" data-module="govuk-radios">
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="endorse-yes" name="endorse-yes" type="radio" value="Yes" data-aria-controls="conditional-contact">
                    <label class="govuk-label govuk-radios__label" for="endorse-yes">
                      Yes
                    </label>
                  </div>
                  <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-contact">
                    <div class="govuk-form-group">
                      <label class="govuk-label" for="yes-detail">
                        Your comments
                      </label>
                      <textarea class="govuk-textarea" id="yes-detail" name="yes-detail" rows="5" aria-describedby="yes-detail-hint"></textarea>
                    </div>           
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="no-answer" name="no-answer" type="radio" value="No" data-aria-controls="conditional-contact-2">
                    <label class="govuk-label govuk-radios__label" for="no-answer">
                      No
                    </label>
                  </div>
                  <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-contact-2">
                    <div class="govuk-form-group">
                      <label class="govuk-label" for="no-detail">
                        Your comments (optional)
                      </label>
                      <textarea class="govuk-textarea" id="no-detail" name="no-detail" rows="5" aria-describedby="no-detail-hint"></textarea>
                    </div>
                  </div>
                  
                 
                </div>
              </fieldset>
            </div>
  
            <button class="govuk-button" data-module="govuk-button">
              Continue
            </button>
          </form> 
        </div>

       
      </div>
    </main>
  </div>
     
{% endblock %}