<h1 class='govuk-heading-m govuk-visually-hidden'>Overview</h1>
<div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds-from-desktop">

        {% include './sectionLicence.html' %}
            <div class="govuk-body">Last OASys update: March 2022</div>
        {% include './sectionContingencyPlan.html' %}
        </div>
        <div class="govuk-grid-column-one-third-from-desktop" data-qa='riskFlags'>
            {{ riskFlagWidget(case.risk.flags) }}
        </div>
</div>
