{% extends "../layout.html" %} {% set pathQuerystring = "?v=" + variant %} {%
from "govuk/components/notification-banner/macro.njk" import
govukNotificationBanner %} {% block beforeContent %} {{ govukBackLink({ text:
"Back", href: '/search' }) }} {% endblock %} {% block content %}
<div class="govuk-grid-row">
	<div class="govuk-grid-column-full">
		<div
			class="govuk-notification-banner"
			role="region"
			aria-labelledby="govuk-notification-banner-title"
			data-module="govuk-notification-banner"
		>
			<div class="govuk-notification-banner__header">
				<h2
					class="govuk-notification-banner__title"
					id="govuk-notification-banner-title"
				>
					Important
				</h2>
			</div>
			<div
				class="govuk-notification-banner__content"
				style="position: relative"
			>
				<h3 class="govuk-notification-banner__heading">Consider a recall</h3>
				<p>
					At around 07:30am on 5/1/2022, Mr Cardours came to the reception area
					and informed AP staff that he was going out for a walk. Mr Cardours
					then became agitated and was shouting saying; nobody can tell him what
					he can and can’t do. Another staff member told Duncann to calm down.
					Mr Cardours then said he is a grown man and that can do what he wants,
					he further mentioned that if anyone tells him that he can’t go onto
					town, he will kill them. Both Staff members told Mr Cardours that this
					was not acceptable, and he should calm down.
				</p>

				<p>
					Mr Cardours then said he was getting his stuff and leaving, he went to
					his room and collected his bags and then left the Approved Premises. A
					staff member tried to talk to him whilst he was walking off trying to
					get him to calm down and come back, however, she was unsuccessful in
					her attempts
				</p>

				<p class="govuk-caption-m">Joan Smyth, 6 January 2023 at 12.31</p>

				<div style="position: absolute; right: 15px; bottom: 15px">
					<a
						href="/manager-delib/1-record-dec"
						class="govuk-button govuk-!-margin-bottom-0"
						>Record decision</a
					>
				</div>
			</div>
		</div>
		<div
			class="flex flex--medium flex--space-between flex--align-center govuk-!-margin-bottom-4"
		>
			<div>
				<div class="govuk-caption-m flex--order-2">
					CRN: <span data-qa="personDetails-crn">X514364</span
					><span style="margin: 0 10px">|</span> Date of birth:
					<span data-qa="personDetails-dateOfBirth"
						>21 August 1985 (age 37)</span
					>
					<span style="margin: 0 10px">|</span> Gender:
					<span data-qa="personDetails-gender">Male</span>
				</div>
				<div
					class="flex--order-1 govuk-heading-xl govuk-!-margin-bottom-6"
					data-qa="sectionHeading"
				>
					Duncann Cardours
				</div>
			</div>
		</div>
		<div class="mrd-subhead">
			<!-- <a class="govuk-link" href="/share/shareDetails">
                    <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
                    Share this profile
                    </button>
                </a> -->

			{{ mojSubNavigation({ label: 'Case summary sections', items: [ { text:
			'Overview', href: pageUrlBase + 'overview' + pathQuerystring, active:
			section.id == 'overview' }, { text: 'Risk', href: pageUrlBase + 'risk' +
			pathQuerystring, active: section.id == 'risk' }, { text: 'Personal
			details', href: pageUrlBase + 'personal-details' + pathQuerystring,
			active: section.id == 'personal-details' }, { text: 'Licence conditions',
			href: pageUrlBase + 'licence-conditions' + pathQuerystring, active:
			section.id == 'licence-conditions' }, { text: 'Contact history', href:
			pageUrlBase + 'licence-history' + pathQuerystring, active: section.id ==
			'licence-history' } ] }) }} {% if section.id =='overview' %} {% include
			'./caseOverview.html' %} {% elseif section.id =='risk' %} {% include
			'./caseRisk.html' %} {% elseif section.id =='personal-details' %} {%
			include './casePersonalDetails.html' %} {% elseif section.id
			=='licence-history' %} {% include './caseContactLog2.html' %} {% elseif
			section.id =='licence-conditions' %} {% include
			'./caseLicenceConditions.html' %} {% endif %}
		</div>
	</div>
	{% endblock %}
</div>
