{% extends "../layout.html" %} {% set pathQuerystring = "?v=" + variant %} {%
from "govuk/components/notification-banner/macro.njk" import
govukNotificationBanner %} {% block beforeContent %} {{ govukBackLink({ text:
"Back", href: '/search' }) }} {% endblock %} {% block content %}
<div class="govuk-grid-row">
	<div class="govuk-grid-column-full">
		<div
			class="flex flex--medium flex--space-between flex--align-center govuk-!-margin-bottom-4"
		>
			<div>
				<div class="govuk-caption-m flex--order-2">
					CRN: <span data-qa="personDetails-crn">X514364</span
					><span style="margin: 0 10px">|</span> Date of birth:
					<span data-qa="personDetails-dateOfBirth"
						>21 August 1985 (age 37)</span
					>
					<span style="margin: 0 10px">|</span> Gender:
					<span data-qa="personDetails-gender">Male</span>
				</div>
				<div
					class="flex--order-1 govuk-heading-xl govuk-!-margin-bottom-6"
					data-qa="sectionHeading"
				>
					Duncann Cardours
				</div>
			</div>
			<div>
				<a
					href="../case/rec-flow/1-risk.html"
					class="govuk-button govuk-!-margin-bottom-0"
					>Make a recommendation</a
				>
			</div>
		</div>
		<div class="mrd-subhead">
			<!-- <a class="govuk-link" href="/share/shareDetails">
                    <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
                    Share this profile
                    </button>
                </a> -->

			{{ mojSubNavigation({ label: 'Case summary sections', items: [ { text:
			'Overview', href: pageUrlBase + 'overview' + pathQuerystring, active:
			section.id == 'overview' }, { text: 'Risk', href: pageUrlBase + 'risk' +
			pathQuerystring, active: section.id == 'risk' }, { text: 'Personal
			details', href: pageUrlBase + 'personal-details' + pathQuerystring,
			active: section.id == 'personal-details' }, { text: 'Licence conditions',
			href: pageUrlBase + 'licence-conditions' + pathQuerystring, active:
			section.id == 'licence-conditions' }, { text: 'Contact history', href:
			pageUrlBase + 'licence-history' + pathQuerystring, active: section.id ==
			'licence-history' } ] }) }} {% if section.id =='overview' %} {% include
			'./caseOverview.html' %} {% elseif section.id =='risk' %} {% include
			'./caseRisk.html' %} {% elseif section.id =='personal-details' %} {%
			include './casePersonalDetails.html' %} {% elseif section.id
			=='licence-history' %} {% include './caseContactLog2.html' %} {% elseif
			section.id =='licence-conditions' %} {% include
			'./caseLicenceConditions.html' %} {% endif %}
		</div>
	</div>
	{% endblock %}
</div>
