
{% extends "layout-govuk.html" %}

{% block pageTitle %}Recall Decisions{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {{ govukButton({
      text: 'View prototype',
      href: '/start',
      isStartButton: true
    }) }}

    <h2 class="govuk-heading-m govuk-!-margin-top-5">Related links</h2>
    <ul class="govuk-list">
      <li>
        <a href="https://">
          Design history
        </a>
      </li>
      <li>
        <a href="https://trello.com/b/LXfF2UpV/making-recall-decisions-alpha">
          Trello
        </a>
      </li>
      <li>
        <a href="https://drive.google.com/drive/folders/16iFo7x_kgBzCoFSpxMH3qAOTGdynt9cY?usp=sharing_eil_dm&ts=61126967">
          Team Google Drive
        </a>
      </li>
      <!--<li>
        <a href="https://github.com/ministryofjustice/hmpps-manage-supervisions-prototype">
          Prototype GitHub repository
        </a>
      </li>
      <li>
        <a href="github.com/fofr/manage-supervisions-design-history">
          Design history GitHub repository
        </a>
      </li>-->
    </ul>
  </div>
</div>

{% endblock %}
