
{% extends "layout-govuk.html" %}

{% block pageTitle %}{{ title }}{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l govuk-!-margin-top-5">Private beta</h1>

    <h2 class="govuk-heading-m govuk-!-margin-top-5">Iteration - Out of hours</h2>
   
      <p>
        <a href="/case-v4/overview?v=3">Summary view page</a> with link to share the page. AP staff can share the summary view with Duty SPO.
      </p>
      <p>Tentative early furtive ideas on an approach for countersigning flows. Two flavours of tasklist depending on who is viewing the Part A;<br>
        - <a href="/countersign/PO-tasklist">POs refering</a> on to SPOs and ACOs<br>
        - SPOs and ACOs receiving the Part A and <a href="/countersign/Manager-tasklist">endorsing.</a>
      </p>
      <h2 class="govuk-heading-m govuk-!-margin-top-5">Further iterations</h2>
      <p>
            For a period several features were prototyped on the HMPPS DPS platform to connect to various case management system applications like NDelius, OASys, ARN and CVL. The structure of those data sources formed part of the constraints for design and user experience. Below are those features;
        </p>
        <ul class="govuk-list govuk-list--bullet">
          <li>
            Generation of the Recall Part A 
          </li>
          <li>
            Generation of the Decision not to Recall
          </li>
          <li>
            Redesign of licence conditions
          </li>
          <li>
            Redesign of licence history into contact history
          </li>
          <li>
            Presentation of risk information from OASys
          </li>
          <li>
            Approach for displaying offence and sentence information
          </li>
        </ul>
        <p>
        Read the <a href="https://makerecalldecisions-design-history-main.apps.live.cloud-platform.service.justice.gov.uk/">Design History</a> to understand the work behind those features.
      </p>





    <h2 class="govuk-heading-m govuk-!-margin-top-5">Iteration - Overview & Risk pages</h2>
      <p>
        <a href="/case-v3/overview?v=3">
          Summary view page
        </a>
      </p>
        <p> Two other versions of the pages looking at information density.<br>
        
          <a href="/case-v3/overview?v=2">
          All content collapsed
        </a> in card components<br>
        <a href="/case-v3/overview?v=1">
          All content visible
        </a> in card components
        </p>
     
        
   
    <h2 class="govuk-heading-m govuk-!-margin-top-5">Iteration - Recommendation flow</h2>
<p>
    First iteration looking into how to build upon the checklist work from alpha - <a href="/case/rec-flow/1-risk">
      recommendation flow
    </a>
  </p>
    <h1 class="govuk-heading-l govuk-!-margin-top-5">Alpha</h1>
<p>
    <a href="/start">
      Prototype
    </a>
  </p>
    <!--<h2 class="govuk-heading-m govuk-!-margin-top-5">Related links</h2>
    <ul class="govuk-list">
      <li>
        <a href="https://hmpps-recall-design-history.herokuapp.com/">
          Design history
        </a>
      </li>
      <li>
        <a href="https://trello.com/b/LXfF2UpV/making-recall-decisions-alpha">
          Trello
        </a>
      </li>
      <li>
        <a href="https://drive.google.com/drive/folders/16iFo7x_kgBzCoFSpxMH3qAOTGdynt9cY?usp=sharing_eil_dm&ts=61126967">
          Team Google Drive
        </a>
      </li>
      <li>
        <a href="https://github.com/ministryofjustice/hmpps-manage-supervisions-prototype">
          Prototype GitHub repository
        </a>
      </li>
      <li>
        <a href="github.com/fofr/manage-supervisions-design-history">
          Design history GitHub repository
        </a>
      </li>-->
    </ul>
  </div>
</div>

{% endblock %}
