
{% extends "layout-govuk.html" %}

{% block pageTitle %}Decide if someone should be recalled or not{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l govuk-!-margin-top-5">Private beta</h1>

    <h2 class="govuk-heading-m govuk-!-margin-top-5">Iteration - Out of hours</h2>
   

      <p>
        <a href="/case-v4/overview?v=3">Summary view page</a> with link to share the page. AP staff can share the summary view with Duty SPO.
      </p>

    <h2 class="govuk-heading-m govuk-!-margin-top-5">Iteration - Overview & Risk pages</h2>
   

      <p>
        <a href="/case-v3/overview?v=3">
          Summary view page
        </a>
      </p>
     
     
        <p> Two other versions of the pages looking at information density.<br>
        
          <a href="/case-v3/overview?v=2">
          All content collapsed
        </a> in card components<br>
        <a href="/case-v3/overview?v=1">
          All content visible
        </a> in card components
        </p>
     
     
   
    <h2 class="govuk-heading-m govuk-!-margin-top-5">Iteration - Recommendation flow</h2>
<p>
    <a href="/case/rec-flow/1-risk">
      Recommendation flow
    </a>
  </p>
    <h1 class="govuk-heading-l govuk-!-margin-top-5">Alpha</h1>
<p>
    <a href="/start">
      Prototype
    </a>
  </p>
    <!--<h2 class="govuk-heading-m govuk-!-margin-top-5">Related links</h2>
    <ul class="govuk-list">
      <li>
        <a href="https://hmpps-recall-design-history.herokuapp.com/">
          Design history
        </a>
      </li>
      <li>
        <a href="https://trello.com/b/LXfF2UpV/making-recall-decisions-alpha">
          Trello
        </a>
      </li>
      <li>
        <a href="https://drive.google.com/drive/folders/16iFo7x_kgBzCoFSpxMH3qAOTGdynt9cY?usp=sharing_eil_dm&ts=61126967">
          Team Google Drive
        </a>
      </li>
      <li>
        <a href="https://github.com/ministryofjustice/hmpps-manage-supervisions-prototype">
          Prototype GitHub repository
        </a>
      </li>
      <li>
        <a href="github.com/fofr/manage-supervisions-design-history">
          Design history GitHub repository
        </a>
      </li>-->
    </ul>
  </div>
</div>

{% endblock %}
