
<h2 class="govuk-heading-m">Licence history</h2>

<div class="moj-timeline">

  <div class="moj-timeline__item">

    <div class="moj-timeline__header">
      <h2 class="moj-timeline__title">Starts custodial sentence</h2>
    </div>

    <p class="moj-timeline__date">
      <time datetime="2019-06-06T09:12:00.000Z">1 August 2020</time>
    </p>

  </div>

  <div class="moj-timeline__item">

    <div class="moj-timeline__header">
      <h2 class="moj-timeline__title">Released on licence</h2>
    </div>

    <p class="moj-timeline__date">
      <time datetime="2019-06-14T14:01:00.000Z">1 October 2021</time>
      <p class="moj-timeline__byline">Updated by Jane Smith</p>
    </p>

    <!-- <div class="moj-timeline__description">
      <p>Released to community. Licence conditions set with no approved premises assigned.</p>
    </div> -->

  </div>
  <div class="moj-timeline__item">

    <div class="moj-timeline__header">
      <h2 class="moj-timeline__title">Concerns raised during management oversight meeting</h2>

      <p class="moj-timeline__byline">by Jane Smith</p>

    </div>

    <p class="moj-timeline__date">
      <time datetime="2019-06-14T14:01:00.000Z">12 December 2021</time>
    </p>

    <div class="moj-timeline__description">
      <p>Charles was agitated and restless during a scheduled appointment. Discussed contact with old friends and returning to old habits.</p>
    </div>
    <div class="moj-timeline__description">
      <ul class="moj-timeline__documents">
        <li class="moj-timeline__document-item">
          <a class="moj-timeline__document-link" href="#">View full details</a>
        </li>
      </ul>
    </div>

  </div>

  <div class="moj-timeline__item">

    <div class="moj-timeline__header">
      <h2 class="moj-timeline__title">Drug test</h2>
    </div>

    <p class="moj-timeline__date">
      <time datetime="2019-06-14T14:01:00.000Z">18 March 2022</time>
    </p>

    <div class="moj-timeline__description">
      <p>Tested positive for cocaine</p>
    </div>
    <div class="moj-timeline__description">
      <ul class="moj-timeline__documents">
        <li class="moj-timeline__document-item">
          <a class="moj-timeline__document-link" href="#">View full details</a>
        </li>
      </ul>
    </div>

  </div>
  <div class="moj-timeline__item">

    <div class="moj-timeline__header">
      <h2 class="moj-timeline__title">Appointment missed</h2>
    </div>

    <p class="moj-timeline__date">
      <time datetime="2019-06-14T14:01:00.000Z">12 April 2022</time>
    </p>

    <div class="moj-timeline__description">
      <p>Charles explained he had moved out of town and found it difficult to find public transport.</p>
    </div>
    <div class="moj-timeline__description">
      <ul class="moj-timeline__documents">
        <li class="moj-timeline__document-item">
          <a class="moj-timeline__document-link" href="#">View full details</a>
        </li>
      </ul>
    </div>

  </div>
  <div class="moj-timeline__item">

    <div class="moj-timeline__header">
      <h2 class="moj-timeline__title">Arrested by police for petty theft</h2>

      <p class="moj-timeline__byline">by Joanne Brophy</p>

    </div>

    <p class="moj-timeline__date">
      <time datetime="2019-06-14T14:01:00.000Z">3 May 2022</time>
    </p>


    <div class="moj-timeline__description">

      <p>Met Police officer Annie Taylor called to say that Charles had been arrested for theft.</p>

      <ul class="moj-timeline__documents">
        <li class="moj-timeline__document-item">
          <a class="moj-timeline__document-link" href="#">View full details</a>
        </li>
      </ul>
    </div>

  </div>
</div>