
{% set contentHtml %}
    <pre class='govuk-body'>{{ case.risk.whenRiskHighest }}</pre>
{% endset %}

{% set sectionHtml %}
    {{ oasysHeading({ text: "OASys 10.3 When is the risk likely to be greatest?"}) }}
    {% if variant == '2' or variant == '3' %}
        {{ govukDetails({
            summaryText: "View more detail",
            html: contentHtml
        }) }}
    {% else %}
        {{ contentHtml | safe }}
    {% endif %}
{% endset %}

{{ appSummaryCard({
    titleText: 'When the risk will be highest',
    classes: 'govuk-!-margin-bottom-4 app-summary-card--large-title',
    html: sectionHtml
}) }}