
{% set contentHtml %}
    <pre class='govuk-body'>{{ case.contingencyPlan.description }}</pre>
{% endset %}

{% set sectionHtml %}
    {{ oasysHeading({ text: "OASys 11.9 Contingency plan"}) }}
    {% if compact %}
    {{ govukDetails({
        summaryText: "View more detail",
        html: contentHtml,
        open: true
    }) }}
    {% else %}
    {{ contentHtml | safe }}
    {% endif %}
{% endset %}

{{ appSummaryCard({
    titleText: 'Contingency plan',
    classes: 'govuk-!-margin-bottom-6 app-summary-card--large-title',
    html: sectionHtml
}) }}