
{% set contentHtml %}
    <pre class='govuk-body'>{{ case.risk.factorsToReduceRisk }}</pre>
{% endset %}

{% set sectionHtml %}
    {{ oasysHeading({ text: "OASys 10.5 What factors are likely to reduce the risk?"}) }}
    {% if variant == '2' or variant == '3' %}
        {{ govukDetails({
            summaryText: "View more detail",
            html: contentHtml
        }) }}
    {% else %}
        {{ contentHtml | safe }}
    {% endif %}
{% endset %}

{{ appSummaryCard({
    titleText: 'Factors that will reduce the risk',
    classes: 'govuk-!-margin-bottom-6 app-summary-card--large-title',
    html: sectionHtml
}) }}