
{% set contentHtml %}
    <pre class='govuk-body'>{{ case.risk.whoIsAtRisk }}</pre>
{% endset %}

{% set sectionHtml %}
    {{ oasysHeading({ text: "OASys 10.1 Who is at risk?"}) }}
    {% if variant == '2' or variant == '3' %}
        {{ govukDetails({
            summaryText: "View more detail",
            html: contentHtml
        }) }}
    {% else %}
        {{ contentHtml | safe }}
    {% endif %}
{% endset %}
{{ appSummaryCard({
    titleText: 'Who is at risk',
    classes: 'govuk-!-margin-bottom-6 app-summary-card--large-title',
    html: sectionHtml
}) }}