{% set offenceInfoHtml %}
    <h4>Description of the index offence</h4>
    <p>On 20 April 2018 at 10pm Mr Edwin boarded a 73 bus in Stoke Newington. He went to the top of the bus where he saw Mr Smith sitting at the back of the bus. There were 2 other witnesses at the front of the bus.
        Mr Edwin grabbed Mr Smith by the collar and shouted 'give me your phone and your wallet'. Mr Smith loudly told him to 'f**k off'. Mr Edwin hit Mr Smith in the face, breaking his nose and causing him to bleed, and saying 'Give me your phone and wallet or I will hit you again'. Mr Smith gave him his wallet and phone Mr Edwin pushed him into his seat. Mr Edwin ran off the bus at the next stop and ran off.
        He was known to police and so the CCTV imagery helped identify him. Police arrested him 2 days later, on the 22 April 2018. On being tested Mr Edwin had crack cocaine in his system.</p>

        <h4>Characteristics of the index offence</h4>
        <p>Violence or threat of violence or coercion<br>
        Excessive use of violence or sadistic violence<br>
        The victim or victims were strangers to the offender
        </p>
        <h4>Characteristics of the index offence</h4>
        <p>Financial<br>
            Addiction or perceived needs<br>
            Emotional state of the offender
        </p>
{% endset %}
{% set indexOffenceHtml %}
    <ul class='govuk-list'>
        {% for offence in case.indexOffences %}
            <li>{{ offence.description }}</li>
        {% endfor %}
    </ul>
    {{ govukDetails({
        summaryText: "View more detail",
        html: offenceInfoHtml
    }) }}
{% endset %}
        {% set sectionHtml %}
            <div class="govuk-!-padding-bottom-4 govuk-!-margin-bottom-2 govuk-section-break--visible govuk-!-padding-right-8 ">
                <div class='flex flex--space-between'>
                    <div class="stat-card">
                        <h3 class="stat-card__title">Time left on licence</h3>
                        <div class='stat-number'>{{ case.licence.daysRemaining.value }} days</div>
                    </div>
                    <div class="stat-card">
                        <h3 class="stat-card__title">Time spent in the community</h3>
                        <div class='stat-number'>{{ case.licence.daysSpentInCommunity.value }} days</div>
                    </div>
                    <div class="stat-card">
                        <h3 class="stat-card__title stat-card__title-narrow">Sentence length</h3>
                        <div class='stat-number'>{{ case.sentence.length.value }} years</div>
                    </div>
                </div>
            </div>
            <div class="govuk-!-margin-bottom-4 govuk-section-break--visible">
                {{ govukSummaryList({
                    rows: [
                        {
                            key: { html: 'Index offence' },
                            value: { html: indexOffenceHtml }
                        },
                        {
                            key: { html: 'Sentence type' },
                            value: { html: case.sentence.type }
                        }
                    ]
                }) }}
            </div>
            <div>
                <a href="#" class="govuk-link">Download the licence letter</a>
            </div>
        {% endset %}

        {{ appSummaryCard({
            titleText: 'Licence',
            classes: 'govuk-!-margin-bottom-4 app-summary-card--large-title',
            html: sectionHtml
        }) }}