{% set offenceInfoHtml %}
    <h4>Description of the index offence</h4>
    <p>{{ case.indexOffence.longDescription }}</p>
    <h4>Characteristics</h4>
    <p>{{ case.indexOffence.characteristics }}</p>
    <h4>Evidenced motivations</h4>
    <p>{{ case.indexOffence.motivations }}</p>
        
{% endset %}
{% set indexOffenceHtml %}
    <p>{{
        case.indexOffence.description
    }}
    </p>    
    {{ govukDetails({
        summaryText: "View more detail",
        html: offenceInfoHtml
    }) }}
{% endset %}
        {% set sectionHtml %}
            <div class="govuk-!-padding-bottom-4 govuk-!-margin-bottom-2 govuk-section-break--visible govuk-!-padding-right-8 ">
                <div class='flex flex--space-between'>
                    <div class="stat-card">
                        <h3 class="stat-card__title">Time left on licence</h3>
                        <div class='stat-number'>{{ case.licence.daysRemaining.value }} days</div>
                    </div>
                    <div class="stat-card">
                        <h3 class="stat-card__title">Time spent in the community</h3>
                        <div class='stat-number'>{{ case.licence.daysSpentInCommunity.value }} days</div>
                    </div>
                    <div class="stat-card">
                        <h3 class="stat-card__title stat-card__title-narrow">Sentence length</h3>
                        <div class='stat-number'>{{ case.sentence.length.value }} years</div>
                    </div>
                </div>
            </div>
            <div class="govuk-!-margin-bottom-4 govuk-section-break--visible">
                {{ govukSummaryList({
                    rows: [
                        {
                            key: { html: 'Index offence' },
                            value: { html: indexOffenceHtml }
                        },
                        {
                            key: { html: 'Sentence type' },
                            value: { html: case.sentence.type }
                        }
                    ]
                }) }}
            </div>
            <div>
                <a href="#" class="govuk-link">Download the licence letter</a>
            </div>
        {% endset %}

        {{ appSummaryCard({
            titleText: 'Licence',
            classes: 'govuk-!-margin-bottom-4 app-summary-card--large-title',
            html: sectionHtml
        }) }}